.bx-wrapper .bx-controls-direction a {
    top: 70%;
}

.bx-wrapper .bx-prev {
    left: 10px;
}

.bx-wrapper .bx-next {
    right: 10px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    box-shadow: 0 0 0 1px #515151;
}

.header-logo {
    padding: 0 10px 0 10px;
}

.h-logo-link img {
    display: block;
    max-width: 100%;
    width: 100%;
}