@font-face {
    font-family: 'PFDinTextPro';
    src: url('/fonts/pfdintextpro-bold-webfont.eot');
    src: url('/fonts/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdintextpro-bold-webfont.woff') format('woff'),
         url('/fonts/pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('/fonts/pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'PFDinTextPro';
    src: url('/fonts/pfdintextpro-light-webfont.eot');
    src: url('/fonts/pfdintextpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdintextpro-light-webfont.woff') format('woff'),
         url('/fonts/pfdintextpro-light-webfont.ttf') format('truetype'),
         url('/fonts/pfdintextpro-light-webfont.svg#pf_dintext_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'PFDinTextPro';
    src: url('/fonts/pfdintextpro-medium-webfont.eot');
    src: url('/fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdintextpro-medium-webfont.woff') format('woff'),
         url('/fonts/pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('/fonts/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'PFDinTextPro';
    src: url('/fonts/pfdintextpro-regular-webfont.eot');
    src: url('/fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdintextpro-regular-webfont.woff') format('woff'),
         url('/fonts/pfdintextpro-regular-webfont.ttf') format('truetype'),
         url('/fonts/pfdintextpro-regular-webfont.svg#pf_dintext_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'PFDinTextPro';
    src: url('/fonts/pfdintextpro-thin-webfont.eot');
    src: url('/fonts/pfdintextpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pfdintextpro-thin-webfont.woff') format('woff'),
         url('/fonts/pfdintextpro-thin-webfont.ttf') format('truetype'),
         url('/fonts/pfdintextpro-thin-webfont.svg#pf_dintext_prothin') format('svg');
    font-weight: 100;
    font-style: normal;

}


/************************************************** RESET.CSS **************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 .clearfix::after{
	content: ' ';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
 }

 input, textarea{
	outline: none;
	border: 0;
}

button{
	background: none;
	cursor: pointer;
	outline: none;
}

a{
	text-decoration: none;
}

/************************************************** RESET.CSS END **********************************/
/************************************************ ОБЩИЕ СТИЛИ ************************************/
html{
	font-size: 16px;
}

html, body, .wrapper{
	height: 100%;
}

.wrapper{
	min-width: 1200px;
	font-family: PFDinTextPro, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.wrapper, .wrapper-inner, body, footer{
	position: relative;
}

.wrapper-inner{
	min-height: 100%;
	background: #fff;
	padding-bottom: 715px;
}

.section-content{
	width: 1200px;
	padding: 0 15px;
}

.box{
	padding: 0 0 90px;
	/*padding: 0;*/
}

.chromeframe{
	padding:10px;
	background-color:#f00;
	font-family: Arial, sans-serif;
	font-size: 3rem;
	color:#fff;
	text-align:center;
	line-height: 1.4;
}

.chromeframe a{
	border:none;
	color:#fff;
	text-decoration:underline;
}

.chromeframe a:hover{
	border:none;
	color:#fff;
	text-decoration:none
}

/******************************* SEPARATORS *******************/
.separator{
	display: block;
	width: 1px;
	height: 100%;
}

.header-separator{
	position: absolute;
	top: 0;
	left: 22.5%;
	background: #dadada;
}
/******************************* SEPARATORS END ***************/
/******************************* BUTTONS *******************/
.btn{
	display: inline-block;
	border-radius: 3px;
	text-align: center;
}

.small-btn{
	padding: 12px 15px;
	font-size: 0.875rem;
}

.red-btn{
	color: #fff;
	background: #ec461f;
}

.red-btn:active{
	background: #d85231;
}

.center-btn{
	text-align: center;
}
/******************************* BUTTONS END ***************/

.h1-title, 
.h2-title{
	margin-bottom: 15px;
	font-size: 1.563rem;
	font-weight: 300;
	color: #212121;
	text-align: center;
}

.h1-subtitle, 
.h2-subtitle{
	margin-bottom: 35px;
	font-size: 1rem;
	color: #8e8d8d;
	text-align: center;
	line-height: 1.3;
}


.ta-l{
	text-align: left;
}

.main-content{
	padding: 45px 15px 0 15px;
}

.main-content-left{
	float: left;
	width: 50%;
	padding-right: 30px;
}

.main-content-right{
	float: right;
	width: 50%;
}
/************************************************ ОБЩИЕ СТИЛИ END ********************************/

/************************************************** HEADER **************************************/
.header{
	padding-top: 25px;
}

.header-content-wrapper{
	position: relative;
	height: 110px;
	border: 1px solid #dadada;
}

/******************************* HEADER-LOGO *******************/
.header-logo{
	width: 22.5%;
	float: left;
	padding: 0 35px 0 30px;
}

.header-contacts-nav{
	width: 77.5%;
	float: right;
	padding: 0 50px 0 45px;
}

.header-logo,
.header-contacts-nav{
	height: 100%;
}

.h-logo-link{
	display: block;
	position: relative;
	top: 50%;
	margin-top: -20px;
}

.h-logo-link img{
	display: block;
	max-width: 100%;
}
/******************************* HEADER-LOGO END ***************/

.header-contacts,
.header-nav{
	height: 50%;
}

.header-contacts{
	padding-top: 10px;
}

.header-contacts-cell{
	display: inline-block;
	vertical-align: middle;
}

/******************************* DROPDOWN *******************/
.dropdown{
	padding-right: 10px;
}

.dropdown-caption::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #eb3f27 url('/images/location.png') no-repeat center;
	border-radius: 50%;
	vertical-align: middle;
}

.dropdown-text{
	position: relative;
	display: inline-block;
	padding: 7px 12px;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
}

/*.dropdown-text::after{*/
	/*content: '';*/
	/*display: inline-block;*/
	/*width: 7px;*/
	/*height: 6px;*/
	/*margin-left: 5px;*/
	/*background: url('/images/dropdown-arrow.png') no-repeat center;*/
	/*vertical-align: middle;*/
/*}*/

.dropdown-head{
	font-size: 1rem;
	color: #2d2d2d;
}

.dropdown-content{
	position: absolute;
	width: 100%;
	top: 98%;
	left: -1px;
	z-index: 20;
	visibility: hidden;
    opacity: 0;
    height: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

.dropdown-text:hover{
}

.dropdown-text:hover .dropdown-content{
	visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity .5s ease;
    border: 1px solid #dadada;
}

.city-item{
	padding: 7px 5px;
}

.city-item:hover{
	background: #e8e8e8;
}

/******************************* DROPDOWN END *****************/
/******************************* HEADER-PHONES *******************/
.header-phones{
	padding: 0 10px;
}

.header-phones::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background: #eb3f27 url('/images/white-phone-icon.png') no-repeat center;
	border-radius: 50%;
	vertical-align: middle;
}

.header-phones-list{
	display: inline-block;
	vertical-align: middle;
}

.header-phones-item{
	display: inline-block;
	margin-right: 15px;
}

.header-phones-item span{
	font-size: 1rem;
	font-weight: 400;
	color: #2d2d2d;
	text-transform: uppercase;
}
/******************************* HEADER-PHONES END ***************/
/******************************* ORDER-CALL *******************/

/******************************* ORDER-CALL END ***************/
/******************************* HEADER NAV *******************/
.header-nav-list,
.header-nav-item,
.header-nav-link{
	height: 100%;
}

.header-nav-list{
	padding-top: 20px;
	font-size: 0;
}

.header-nav-item{
	display: inline-block;
	margin-right: 50px;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
}

.header-nav-item:last-child{
	margin-right: 0;
}

.header-nav-link{
	position: relative;
	display: inline-block;
	color: #2d2d2d;
	text-transform: uppercase;
}

.header-nav-link:hover, .header-nav-active .header-nav-link{
	color: #e92f38;
}

.header-nav-link::after{
	content: '';
	display: none;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #e92f38;
}

.header-nav-link:hover::after, .header-nav-active .header-nav-link::after{
	display: block;
}
/******************************* HEADER NAV END ***************/

/************************************************** HEADER END **********************************/
/************************************************** INDEX **************************************/
/******************************* ADVANTAGES *******************/
.advantages-list{
	padding: 40px 0;
	font-size: 0;
}

.advantages-item{
	display: inline-block;
	width: 33.3%;
	padding: 0 30px 0 40px;
	font-size: 0.9375rem;
	font-weight: 400;
	background: url('/images/separator-icon.png') no-repeat right center;
}

.advantages-item:last-child{
	background: none;
}

.advantages-item span{
	position: relative;
	display: inline-block;
	padding-left: 50px;
	color: #8e8d8d;
	line-height: 1.3;
}

.advantages-number-one span{
	background: url('/images/number-one-icon.png') no-repeat left center;
}

.advantages-quality span{
	background: url('/images/qualiti-icon.png') no-repeat left center;
}

.advantages-guarantee span{
	background: url('/images/guarantee.png') no-repeat left center;
}
/******************************* ADVANTAGES END ***************/
/******************************* INFO-SLIDER-PANEL *******************/
.info-slider-wrapper{
	position: relative;
	width: 99.9%;
	margin: 0;
	z-index: 10;
}

.slider-bg-container{
	width: 100%;
	height: 100%;
}

.info-slider{
	/*height: 525px;*/
	height: 450px;
}

.info-slider-item{
	position: relative;
	height: 100%;
}

.info-slider-img{
	width: 100%;
	height: 100%;
}

.info-slider-img img{
	display: block;
	max-width: 100%;
	width:100%;
	height: 100%;
}

 .info-slider-content{
 	position: absolute;
 	top: 0;
 	left: 0;
	width: 100%;
	height: 100%;
}

.spring-share{
	position: absolute;
 	top: 20px;
 	left: 50%;
 	width: 440px;
	padding: 30px 60px;
	background: #e93037;
	font-size: 1.875rem;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.3;
}

.spring-share-title{
	display: inline-block;
	margin-bottom: 10px;
	font-size: 35px;
	font-weight: 700;
}

.spring-share-title::before,
.spring-share-title::after{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	margin: 7px 0;
	background: #fff;
}

.spring-share strong{
	font-weight: 500;
}

.spring-share sup{
	font-size: 1.25rem;
	vertical-align: super;
}
				/** VARIABLES 
				===================================*/
				/** RESET AND LAYOUT
				===================================*/
				.bx-wrapper {
				  position: relative;
				  height: 100%;
				  *zoom: 1;
				  -ms-touch-action: pan-y;
				  touch-action: pan-y;
				}
				img {
				  max-width: 100%;
				  /*width: 100%;*/
				  /*display: block;*/
				}
				.bx-wrapper .img-width img{
					width: auto;
				}
				.bxslider {
				  margin: 0;
				  padding: 0;
				}
				ul.bxslider {
				  list-style: none;
				}
				.bx-viewport {
				  /*fix other elements on the page moving (on Chrome)*/
				  -webkit-transform: translatez(0);
				}
				/** THEME
				===================================*/
				.bx-wrapper .bx-pager,
				.bx-wrapper .bx-controls-auto {
				  position: absolute;
				  bottom: 20px;
				  width: 100%;
				  z-index: 150;
				}
				/* LOADER */
				.bx-wrapper .bx-loading {
				  min-height: 50px;
				  background: url('/images/bx_loader.gif') center center no-repeat #ffffff;
				  height: 100%;
				  width: 100%;
				  position: absolute;
				  top: 0;
				  left: 0;
				  z-index: 2000;
				}
				/* PAGER */
				.bx-wrapper .bx-pager {
				  text-align: center;
				  font-size: .85em;
				  font-family: Arial;
				  font-weight: bold;
				  color: #666;
				  padding-top: 20px;
				}
				.bx-wrapper .bx-pager.bx-default-pager a {
				  text-indent: -9999px;
				  display: block;
				  width: 9px;
				  height: 9px;
				  margin: 0 5px;
				  outline: 0;
				  -moz-border-radius: 50%;
				  -webkit-border-radius: 50%;
				  border-radius: 50%;
				  box-shadow: 0 0 0 1px #fff;
				}
				.bx-wrapper .bx-pager.bx-default-pager a:hover,
				.bx-wrapper .bx-pager.bx-default-pager a.active,
				.bx-wrapper .bx-pager.bx-default-pager a:focus {
				  background: #e93037;
				  box-shadow: 0 0 0 1px #e93037;
				}
				.bx-wrapper .bx-pager-item,
				.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
				  display: inline-block;
				  *zoom: 1;
				  *display: inline;
				}

				.profiles-slider-wrapper .bx-wrapper .bx-pager-item{
					display: none;
				}

				.bx-wrapper .bx-pager-item {
				  font-size: 0;
				  line-height: 0;
				}
				/* DIRECTION CONTROLS (NEXT / PREV) */
				/***************** INFO-PANEL CONTROLS *******************/
				.bx-wrapper .bx-prev {
				  left: 20px;
				  background-image: url('/images/info-panel-arrow-prev.png');
				}
				.bx-wrapper .bx-prev:hover{
				 	background-color: rgba(0, 0, 0, 0.4);
				}
				.bx-wrapper .bx-next {
				  right: 20px;
				  background-image: url('/images/info-panel-arrow-next.png');
				}
				.bx-wrapper .bx-next:hover{			
				  	background-color: rgba(0, 0, 0, 0.4);
				}
				/***************** INFO-PANEL CONTROLS END ***************/
				/***************** PROFILES CONTROLS *******************/
				.profiles-slider-wrapper .bx-wrapper .bx-prev{
					left: -120px;
					background-image: url('/images/big-arrow-prev.png');
				}
				.profiles-slider-wrapper .bx-wrapper .bx-prev:hover{
					opacity: 1;
				}

				.profiles-slider-wrapper .bx-wrapper .bx-next{
					right: -120px;
					background-image: url('/images/big-arrow-next.png');
				}
				.profiles-slider-wrapper .bx-wrapper .bx-next:hover{
					opacity: 1;
				}
				/***************** PROFILES CONTROLS END ***************/
				
				.bx-wrapper .bx-controls-direction a {
				  position: absolute;
				  top: 50%;
				  margin-top: -45px;
				  outline: 0;
				  width: 50px;
				  height: 90px;
				  text-indent: -9999px;
				  z-index: 99;
				  background-color: rgba(0, 0, 0, 0.2);
				  background-repeat: no-repeat;
				  background-position: center;
				  border-radius: 3px;
				}

				.profiles-slider-wrapper .bx-wrapper .bx-controls-direction a{
					position: absolute;
				  top: 50%;
				  margin-top: -45px;
				  outline: 0;
				  width: 65px;
				  height: 65px;
				  text-indent: -9999px;
				  z-index: 9999;
				  background-color: #50b1fe;
				  background-repeat: no-repeat;
				  background-position: center;
				  border-radius: 50%;
				  opacity: 0.8;
				}
				.bx-wrapper .bx-controls-direction a.disabled {
				  display: none;
				}
				/* AUTO CONTROLS (START / STOP) */
				.bx-wrapper .bx-controls-auto {
				  text-align: center;
				}
				.bx-wrapper .bx-controls-auto .bx-start {
				  display: block;
				  text-indent: -9999px;
				  width: 10px;
				  height: 11px;
				  outline: 0;
				  background: url('/images/controls.png') -86px -11px no-repeat;
				  margin: 0 3px;
				}
				.bx-wrapper .bx-controls-auto .bx-start:hover,
				.bx-wrapper .bx-controls-auto .bx-start.active,
				.bx-wrapper .bx-controls-auto .bx-start:focus {
				  background-position: -86px 0;
				}
				.bx-wrapper .bx-controls-auto .bx-stop {
				  display: block;
				  text-indent: -9999px;
				  width: 9px;
				  height: 11px;
				  outline: 0;
				  background: url('/images/controls.png') -86px -44px no-repeat;
				  margin: 0 3px;
				}
				.bx-wrapper .bx-controls-auto .bx-stop:hover,
				.bx-wrapper .bx-controls-auto .bx-stop.active,
				.bx-wrapper .bx-controls-auto .bx-stop:focus {
				  background-position: -86px -33px;
				}
				/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
				.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
				  text-align: left;
				  width: 80%;
				}
				.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
				  right: 0;
				  width: 35px;
				}
				/* IMAGE CAPTIONS */
				.bx-wrapper .bx-caption {
				  position: absolute;
				  bottom: 0;
				  left: 0;
				  background: #666;
				  background: rgba(80, 80, 80, 0.75);
				  width: 100%;
				}
				.bx-wrapper .bx-caption span {
				  color: #fff;
				  font-family: Arial;
				  display: block;
				  font-size: .85em;
				  padding: 10px;
				}

/******************************* INFO-SLIDER-PANEL END ***************/
/******************************* SERVICES *******************/
.services-list{
	font-size: 0;
}

.services-item{
	display: inline-block;
	width: 33.3%;
	height: 170px;
	font-size: 0.9375rem;
	vertical-align: top;
}

.services-item-container{
	display: block;
	height: 100%;
	padding: 32px 38px 0;
}

.services-constructor .services-item-container{
	background-color: #50b1fe;
	background-image: url('/images/services-constructor.png');
	background-repeat: no-repeat;
	background-position: right -15px bottom -15px;
}

.services-price .services-item-container{
	background: #444a58;
	background-image: url('/images/services-price.png');
	background-repeat: no-repeat;
	background-position: right -10px bottom -10px;
}

.services-shares .services-item-container{
	background: #363636;
	background-image: url('/images/services-shares.png');
	background-repeat: no-repeat;
	background-position: right 0 bottom 0;
}

.services-title{
	margin-bottom: 25px;
	font-size: 1.563rem;
	font-weight: 300;
	color: #fff;
}

.services-item-container:hover .services-title{
	text-decoration: underline;
}

.services-description-text{
	font-size: 0.875rem;
	color: #fff;
	line-height: 1.3;
	opacity: 0.7;
}

.services-info{
	padding: 3.125rem 0;
	border-bottom: 1px solid #dadada;
}

.services-info-columns{
	font-size: 0;
}

.services-info-columns-item{
	display: inline-block;
	width: 33.3%;
	padding-right: 60px;
	font-size: 1rem;
	vertical-align: top;
}

.services-info-columns-item p{
	color: #8e8d8d;
	line-height: 1.4;
}

.services-info-columns-item p strong{
	font-weight: 500;
	color: #000;
}
/******************************* SERVICES END ***************/
/*************************** PROFILES ******************/
.profiles{
	position: relative;
	padding: 3.125rem 0;
}

.profiles-slider-wrapper{
	width: 780px;
}
.profiles-slider-wrapper-inner{
	width: 100%;
	position: relative;
}

.profiles-slider-nav{
	/*margin-bottom: 30px;*/
	overflow: hidden;
	padding: 0 15px;
}
.profiles-slider-wrapper-inner .profiles-slider-nav{
	width: 780px;
}
.ps-nav-list{
	font-size: 0;
	border-bottom: 1px solid #dadada;
	text-align:center;
	margin-bottom: 2rem;
}

.ps-nav-item{
	display: inline-block;
	margin-right: 35px;
	font-size: 1.188rem;
	text-transform: uppercase;
}

.ps-nav-item:last-child{
	margin-right: 0;
}

.ps-nav-text{
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
	color: #2d2d2d;
}
.ps-nav-text:not(.ps-nav-flag a){
	cursor: default;
}

/*.ps-nav-text:hover, .ps-nav-active .ps-nav-text{*/
	/*color: #50b1fe;*/
/*}*/

.ps-nav-active .ps-nav-text{
	color: #50b1fe;
}

.ps-nav-text::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;	
	display: none;
	width: 0;
	height: 0;
	margin-left: -6px;
	border: 6px solid transparent;
	border-bottom: 6px solid transparent;	
	border-top: 6px solid #50b1fe;
}

.ps-nav-text::after{
	content: '';
	display: none;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #50b1fe;
}

/*.ps-nav-text:hover::after, .ps-nav-active .ps-nav-text::after, .ps-nav-text:hover::before, .ps-nav-active .ps-nav-text::before{*/
	/*display: block;*/
/*}*/
.ps-nav-active .ps-nav-text::after, .ps-nav-active .ps-nav-text::before{
	display: block;
}

/****************** PROFILES-SLIDER *******************/
.profiles-slider-item{
	width: 782px;
}
.profiles-slider-wrapper-inner .profiles-slider-item{
	width: 100%;
}

.profiles-slider-img{
	margin-bottom: 20px;
	display: block;
	/*height: 360px;*/
}

.profiles-slider-video{
	display: block;
	margin-bottom: 30px;
	padding-left: 30px;
}
.profiles-slider-wrapper-inner .profiles-slider-img, .profiles-slider-wrapper-inner .profiles-slider-video{
	width: 780px;
}

.profiles-slider-video::before{
	content: '';
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 20px;
	background: rgba(0, 0, 0, 0.6) url('/images/video-play-icon.png') no-repeat left 55% center;
	border-radius: 50%;
	vertical-align: middle;
}

.ps-video-info{
	display: inline-block;
	vertical-align: middle;
}

.ps-video-title{
	margin-bottom: 7px;
	font-size: 1rem;
	color: #ec461f;
}

.profiles-slider-video:hover .ps-video-title{
	text-decoration: underline;
}

.ps-video-time{
	font-size: 0.8125rem;
	color: #acacac;
}

.profiles-slider-img{
	text-align: center;
}
.profiles-slider-img img{
	display: block;
	/*width: 100%;*/
	height: 100%;
}

.profiles-slider-description p{
	color: #8e8d8d;
	line-height: 1.4;
}

.profiles-slider-description p strong{
	font-weight: 500;
	color: #000;
}

.profiles-slider-description .show-img{}
/****************** PROFILES-SLIDER END ***************/

.profiles .btn{
	margin-top: 25px;
	text-transform: uppercase;
}


/************************** PROFILES END ***************/
/******************** CALL TO ACTION *******************/

.call-to-action .cta-content{
	padding: 30px 0 30px 75px;
	background: #444a58;
	border-radius: 3px;
}
.back-call .cta-content{
	padding: 1rem 1rem 0 0.5rem;
	margin: 0;
}

.cta-content::before,
.cta-phones,
.cta-separator,
.cta-button{
	display: inline-block;
	vertical-align: middle;
}

.cta-content::before{
	content: '';
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.call-to-action .cta-content::before{
	margin-right: 50px;
	background: #fff url('/images/phone-red-icon.png') no-repeat center;
	box-shadow:
			0 0 0 5px #696e79,
			0 0 0 12px #444a58,
			0 0 0 13px rgba(255,255,255,0.2);
}

.back-call .cta-content::before{
	background: #ec461f url('/images/phone-white-icon.png') no-repeat center;
	/*border: 1px solid #fdeaeb;*/
	box-shadow:
			0 0 0 5px #fbdad2,
			0 0 0 12px #ffffff,
			0 0 0 13px #fdeaeb;
}

.cta-phones-text{
	display: inline-block;
	margin-bottom: 8px;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.6);
}

.cta-phones-list{
	font-size: 0;
}

.cta-phones-item{
	display: inline-block;
	margin-right: 20px;
	font-size: 1.125rem;
	text-transform: uppercase;
}

.cta-phones-item span{
	color: #fff;
}

.cta-separator{
	padding: 0 65px;
}

.cta-separator::before,
.cta-separator::after{
	content: '';
	display: inline-block;
	width: 20px;
	height: 1px;
	background:  rgba(255, 255, 255, 0.6);
	vertical-align: middle;
}

.cta-separator::before{
	margin-right: 5px;
}

.cta-separator::after{
	margin-left: 5px;
}

.cta-separator-text{
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	vertical-align: middle;
}

.cta-btn{
	padding: 15px 50px;
}

.cta-btn::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 11px;
	margin-left: 20px;
	background: url('/images/arrow-next-icon.png') no-repeat center;
	vertical-align: middle;
}
/******************** CALL TO ACTION END ***************/
/*************************** PLENKI ********************/
.plenki{
	position: relative;
	padding-top: 3rem;
}

.plenki-list{
	font-size: 0;
}

.plenki-item{
	display: inline-block;
	width: 33.333%;
	/*margin: 0 30px 30px 0;*/
	padding: 0 1.875rem 0 0;
	margin: 0 0 1.875rem 0;
	font-size: 1.25rem;
	vertical-align: top;
}

.plenki-xl{
	width: 66.666%;
}

.plenki-item:nth-child(2),
.plenki-item:nth-child(5),
.plenki-item:nth-child(7){
	margin: 0 0 1.875rem 0;
}

.plenki-content{
	position: relative;
	overflow: hidden;
	display: block;
	height: 275px;
}

.plenki-img{
	height: 100%;
}

.plenki-img img{
	display: block;
	width: 100%;
	height: 100%;
}

.plenki-title{
	position: absolute;
	top: 20px;
	left: 30px;
	padding: 13px 20px;
	font-weight: 300;
	color: #fff;
	background: #363636;
	border-radius: 5px;
}
.plenki-title span{
	border-bottom: 1px solid #5e5e5e;
}

.plenki-title-new{
	position: absolute;
	top: 20px;
	left: 30px;
	padding: 13px 20px;
	font-weight: 300;
	color: #fff;
	background: #eb3f27;
	border-radius: 5px 5px 0 0;
}
.plenki-title-new::before{
	content: 'новинка';
	text-transform: uppercase;
	position: absolute;
	top: 100%;
	left: 0;
	/*height: 20px;*/
	width: 100%;
	text-align: center;
	padding: 5px 0;
	font-weight: 600;
	font-size: 0.625rem;
	color: #fff;
	background: #5e6063;
	border-radius: 0 0 5px 5px;
}
.plenki-title-new span{
	border-bottom: 1px solid #ef6552;
}

.plenki-zoom{
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 0;
}

.plenki-zoom::after{
	content: '';
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url('/images/search-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	vertical-align: middle;
	font-size: 0.6875rem;
}

.plenki-zoom span{
	position: relative;
	display: none;
	padding: 3px 4px;
	font-size: 0.6875rem;
	color: #fff;
	background: #000;
	opacity: 0.6;
	border-radius: 3px;
	vertical-align: middle;
}

.plenki-zoom span::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -4px;
	display: block;
	width: 0;
	height: 0;
	border: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid #000;
}

.plenki-content:hover .plenki-zoom span{
	display: inline-block;
}

.plenki-content:hover .plenki-zoom::after{
	background-color: rgba(0, 0, 0, 0.8);
}

.plenki-price{
	position: absolute;
	left: 0;
	bottom: -65px;
	display: block;
	width: 100%;
	height: 65px;
	padding: 22px 35px;
	background: rgba(255, 255, 255, 0.9);
	transition: all 0.3s ease;
}

.plenki-content:hover .plenki-price{
	-moz-transform: translateY(-65px);
	-webkit-transform: translateY(-65px);
	-o-transform: translateY(-65px);
	-ms-transform: translateY(-65px);
	transform: translateY(-65px);
}

.plenki-price span{
	font-size: 1.25rem;
	font-weight: 300;
	color: #eb3f27;
}

.plenki-price sup{
	font-size: 0.875rem;
	vertical-align: super;
}

/*************************** PLENKI *END ***************/
/******************************* STRONG-FIVE *******************/
.strong-five{
	position: relative;
	padding: 3rem 0;
}

.strong-five-video,
.strong-five-advantages{
	width: 50%;
}

.strong-five-video{
	float: left;
}

.strong-five-advantages{
	float: right;
}

.strong-five-video{
	height: 350px;
	position: relative;
}

.strong-five-video video{
	width: 100%;
	height: auto;
}

.strong-five-advantages{
	padding: 20px 0 0 60px;
}

.strong-five-item{
	margin-bottom: 25px;
}

.strong-five-icon,
.strong-five-text{
	display: inline-block;
	vertical-align: middle;
}

.strong-five-icon{
	width: 36px;
	height: 41px;
	margin-right: 30px;
	padding: 10px 0 0 15px;
	background: url('/images/strong-five.png') no-repeat center;
	color: #fff;
}

.strong-five-text{
	font-size: 1.25rem;
	color: #212121;
}
/******************************* STRONG-FIVE END ***************/
/***************************** ARTICLES-NEWS *******************/
.articles-news{
	padding-top: 3rem;
	position: relative;
}
.articles_page.articles-news{
	padding:0;
}

.articles-h2-title,
.news-h2-title{
	text-align: left;
}

.articles-short{
	float: left;
	width: 75%;
}

.articles-h2-title,
.articles-show-more{
	display: inline-block;
}

.articles-show-more{
	margin-left: 25px;
	font-size: 1rem;
	color: #1ab4dc;
}

.articles-show-more:hover{
	text-decoration: underline;
}

.articles-show-more::after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 9px;
	margin-left: 10px;
	background: url('/images/arrow-blue-icon.png') no-repeat center;
	vertical-align: middle;
}

.articles-short-list{
	margin-top: 30px;
	font-size: 0;
}

.articles-short-item{
	display: inline-block;
	width: 33.3%;
	padding: 0 20px 20px 0;
	font-size: 0.8125rem;
	vertical-align: top;
}

.articles-short-item:first-child,.articles-short-item:nth-child(4){
	/*padding: 0 20px 0 0;*/
}
.articles-short-item:nth-child(2){
	/*padding: 0 10px 0 0;*/
}

.articles-short-item:last-child{
	/*padding: 0 0 0 20px;*/
}

.articles-short-content{
	display: block;
}

.articles-short-img{
	height: 210px;
}

.articles-short-img img{
	display: block;
	width: 100%;
	height: 100%;
}

.articles-short-time{
	padding: 10px 0;
}

.articles-short-time time{
	color: #ec461f;
}

.articles-short-title{
	font-size: 1.25rem;
	color: #212121;
}

.articles-short-content:hover .articles-short-title{
	text-decoration: underline;
}

.news-short{
	float: right;
	width: 25%;
	padding-left: 30px;
}

.news-short-list{
	margin-top: 45px;
}

.news-short-item{
	border-bottom: 1px solid #dadada;
}

.news-short-item:last-child{
	border: 0;
}

.news-short-content{
	display: block;
	padding: 22px 0;
}

.news-short-item:first-child .news-short-content{
	padding: 0 0 22px 0;
}

.news-short-item:last-child .news-short-content{
	padding: 22px 0 0 0;
}

.news-short-time{
	margin-bottom: 10px;
	font-size: 0.8125rem;
	color: #c1c1c1;
}

.news-short-title{
	font-size: 1rem;
	color: #212121;
}

.news-short-content:hover .news-short-title{
	text-decoration: underline;
}
/***************************** ARTICLES-NEWS END ***************/
/******************************* ABOUT-US *******************/
.about-us{
	position: relative;
	padding: 3rem 0;
}

.about-us-title{
	text-align: left;
}

.about-us-content{
	margin-top: 35px;
}

.about-us-text{
	float: left;
	width: 75%;
}

.about-us-text p{
	font-size: 1rem;
	font-weight: 400;
	color: #212121;
	line-height: 1.4;
}

.about-us-text strong{
	font-weight: 500;
}

.about-us-img{
	float: right;
	width: 25%;
	padding-left: 30px;
}

.about-us-img-content{
	padding: 30px 10px;
	border: 1px solid #dadada;
	border-radius: 3px;
}

.about-us-img img{
	display: block;
	max-width: 100%;
}

.about-us-img p{
	margin-top: 20px;
	font-size: 0.875rem;
	font-weight: 500;
	color: #212121;
	text-transform: uppercase;
	text-align: center;
}

/******************************* ABOUT-US END ***************/
/************************************************** INDEX END **********************************/


.profiles-bottom-nav{
	font-size: 0;
	text-align: center;
}

.profiles-bottom-nav-item{
	display: inline-block;
	margin-right: 35px;
	padding-top: 20px;
	font-size: 19px;
}

.profiles-bottom-nav-item:last-child{
	margin-right: 0;
}

.profiles-bottom-nav-link{
	color: #b6c2c5;
}

.profiles-bottom-nav-link:hover, .profiles-bottom-nav-active .profiles-bottom-nav-link{
	color: #50b1fe;
}



footer.footer:before {
	display: block;
	content: '';
	height: 0px;
	visibility: hidden;
	clear: both;
}

li{
	list-style-type: none;
}

/***************************FIRST_LEVEL**********************************/


aside.fixed-nav-panel{
	background: #a8a8a8;
	position: fixed;
	right: 0;
	top: 5rem;
	z-index: 10;
}
.main .fixed-nav-panel{
	background: #ec461f;
}
aside.fixed-nav-panel{
	width: 5rem;
}
aside.fixed-nav-panel a{
	color: #fff;
}

aside.fixed-nav-panel ul li{
	overflow: hidden;
	min-height: 4.7rem;
}
aside.fixed-nav-panel ul li a{
	display: block;
	overflow: hidden;
	min-height: 4.7rem;
}
aside.fixed-nav-panel ul li:not(:first-child){
	border-top:2px solid #c5c4c4;
}
.main .fixed-nav-panel ul li:not(:first-child){
	border-top:2px solid #f38c7d;
}

aside.fixed-nav-panel ul li:hover{
	background: #867e7e;
}

.main .fixed-nav-panel ul li:hover{
	background: #b12c1a;
}

aside.fixed-nav-panel ul li img{
	/*margin:1rem 0 0.8rem 0;*/
	width: auto;
	display: block;
	margin: 1rem auto 0 auto;
}

aside.fixed-nav-panel ul li span{
	display: block;
	text-align: center;
	padding: 0 0.3rem;
	font-weight: 400;
	margin-top: 0.5rem;
	/*margin-bottom: 0.5rem;*/
	font-size: 0.8rem;
}

aside.fixed-nav-panel ul li:last-child{
	margin-right: 0;
}

section.first-level:after{
	content:'';
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
}


div.product-title>h1{
	font-size: 1.875rem;
	text-align: left;
	font-weight: 400;
	margin-bottom: 2rem;
	color: #2e2e2e;
}

.slider{
	background-size: cover;
	background-position: center;}

div.show-slide{
	position: relative;
	height: 22rem;
	margin-bottom: 2rem;
	text-align: center;
}
.show-slide img{
	max-height: 100%;
}
.show-slide .show-img{

}


.show-img::after{
	content: '';
	position: absolute;
	margin: auto;
	top: 1rem;
	right: 1.25rem;
	display: block;
	width: 45px;
	height: 45px;
	border-radius:100px;
	background: #000000 url("/images/loop.png") no-repeat center ;
	opacity: 0.3;
}


div.show-slide>img{
	width: 100%;
}

div.slider-cell-all div:last-child{
	margin-right: 0;
}

div.slider-cell-all{
	padding-bottom: 1rem;
	overflow: hidden;
}



.next-slider,.prev-slider{
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	height: 5rem;
	width: 3rem;
	border-radius: 3px;
	opacity: 0.3;
	background: #000000;
	background-position: center;
	background-repeat: no-repeat;
}
.next-slider{
	right: 1.5rem;
	background-image: url('../images/info-panel-arrow-next.png');
}

.prev-slider{
	left:1.5rem;
	background-image: url('../images/info-panel-arrow-prev.png');
}

.scrollbar
{

	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;

}

.force-overflow
{
	min-height: 1rem;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

div.slide-cell{
	display: inline-block;
	border-radius: 1px;
	width: 31%;
	height: 7rem;
	margin-right: 0.99rem;
}

.slider-1{
	background-image: url('/images/slider-1.jpg');
}

.slider-2{
	background-image: url('/images/slider-2.jpg');
}

.slider-3{
	background-image: url('/images/slider-3.jpg');
}

.slider-4{
	background-image: url('/images/slider-4.jpg');
}


#main_images_catalog{
 margin-top: 1.375rem;
}
#main_images_catalog a{
	display: block;
	position: relative;
}
#main_images_catalog img{
	width: 100%;
	height: 110px;
	display: block;
}
#product-slider .mTSThumbContainer a::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0.7;
}
#product-slider .mTSThumbContainer.selected_img a::after,#product-slider .mTSThumbContainer a:hover::after{
	display: none;
}


#product-slider .mTSThumbContainer{
	width: 10.625rem;
	margin-right: 1.875rem;
	max-height: 110px;
	overflow: hidden;
	border-radius: 3px;
}
#product-slider .mTSThumbContainer:last-child{
	margin-right: 0;
}
.mTSWrapper{
	position: relative;
}

.product-palette .mTSWrapper,.product-palette .mTSContainer{


}
.product-palette .mTSContainer{

}

.product-palette{
	margin-top: 6rem;
}

div.product-palette-cursor{
	display: inline-block;
	border: 1px solid rgba(100,100,90,0.8);
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	margin: 0.6rem 0;
	margin-left: 3.8rem;

}

div.product-palette-cursor-body{
	display: inline-block;
	background: #fdece4;
	height: 4.2rem;
	width: 4.2rem;
	border-radius: 50%;
	margin-left: 0.32rem;
	margin-top: 0.35rem;
}

div.color-palette>h2{
	color: #b6c2c5;
	font-weight: 400;
	font-size: 1.188rem;
}

div.color-overflow{
	border:1px solid #ccc;
	border-radius:3px;
	position: relative;
	padding: 0 4rem;
}

div.prev-palette, div.prev-palette-all{
	float: left;
}

div.prev-palette-all{
	padding-right: 1rem;
}

div.next-palette, div.next-palette-all{
	float: right;
}

div.next-palette-all{
	padding-left: 1rem;
}

div.prev-palette, div.prev-palette-all, div.next-palette, div.next-palette-all{
	padding-top: 0.325rem;
	height: 100%;
	cursor: pointer;
}
div.prev-palette{

}

.palette-buttons-wrap{
	position: absolute;
	top: 0;
	height: 100%;
}
.palette-buttons-prev{
	left: 0;
	border-right: 1px solid #ccc;
	padding-left: 0.5rem;
}
.palette-buttons-next{
	right: 0;
	border-left: 1px solid #ccc;
	padding-right: 0.5rem;

}

div.palette{
	/*float: left;*/
}

div.palette li.color{
	display: inline-block;
	height: 1.9rem;
	width: 5rem;
	position: relative;
	z-index: 10000;
	cursor: pointer;
}
div.palette li.color.art-print-img{
	width: 3rem;
}
.color img{
	width: 100%;
	height: 100%;
}

.color .show-img::after{
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 30px;
	display: none;
}
.color:hover .show-img::after{
	display: block;
}
/*li.color:nth-child(1)::before{*/
	/*content: '';*/
	/*display: block;*/
	/*background: #fdece4;*/
	/*height: 5rem;*/
	/*width: 5rem;*/
	/*border-radius: 50%;*/
	/*border: 1px solid #e2e2e2;*/
	/*position: absolute;*/
	/*top: -310%;*/
	/*margin: auto;*/
	/*left: 0;*/
	/*right: 0;*/
	/*box-shadow: inset 0 0 0 5px #ffffff;*/
	/*z-index: 10000;*/
/*}*/
/*li.color:nth-child(1)::after{*/
	/*content: '';*/
	/*display: block;*/

	/*position: absolute;*/
	/*z-index: 10000;*/
	/*top: -43%;*/
	/*margin: auto;*/
	/*left: 0;*/
	/*right: 0;*/

	/*width: 0;*/
	/*height: 0;*/
	/*border-style: solid;*/
	/*border-width: 7px 7px 0 7px;*/
	/*border-color: #e4e4e4 transparent transparent transparent;*/
/*}*/



.color-cursor{
	position: absolute;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	border: 1px solid #e2e2e2;
	box-shadow: inset 0 0 0 5px #ffffff;

}
.color-cursor::after{
	content: '';
	display: block;
	position: absolute;
	z-index: 10;
	bottom: -0.45rem;
	margin: auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #e4e4e4 transparent transparent transparent;
}



.content-left{
	float:left;
	width: 50%;
}

.content-right{
	float:right;
	width: 50%;
}

div.product-properties{
	padding: 0 1.2rem;
	overflow: auto;
}

.product-prop{
	margin-bottom: 2.375rem;
}
h3.name{
	font-weight: 500;
	color: #2e2e2e;
	margin: 1rem 0;
	text-align: left;
}

p.name-prop{
	font-size: 0.875rem;
	color:#b8b8b8;
	margin-bottom: 0.5rem;
}

div.product-properties p:last-child{
	margin-bottom: 1rem;
}

div.product-properties>div.content-right, div.product-properties>div.content-left{
	margin-bottom: 2rem;
	padding: 0 2rem 0 0;
}

div.product-properties ul>li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
}

div.product-properties ul>li>div{
	background: #ec461f;
	padding: 0.5rem;
	border-radius: 50%;
}










div.product-properties ul>li>div>img{
	vertical-align: bottom;
}

div.product-properties ul>li>span{
	font-size: 0.9rem;
	font-weight: 500;
	color: #212121;
	margin-left: 1.9rem;
	line-height: 1.4;
}

div.product-properties ul li:last-child {
	margin-right: 1rem;
}


div.product-designer{
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

div.roof-designer{
	margin-bottom:  1rem;
	display: flex;
	align-items: center;
	border:1px solid #1ab4dc;
	background: #e0f9ff;
	border-radius: 3px;
	padding: 1rem;
}

div.roof-designer.sec{
	border:1px solid #e92f38;
	background: #ffede9;
}

div.roof-designer>img{
	border-top:1px solid #1ab4dc;
	padding-top: 0.7rem;
}

div.roof-designer.sec>img{
	border-top:1px solid #e92f38;
}

div.roof-designer>span{
	width: 80%;
	padding: 0 0 0 2rem;
	color:#1ab4dc;
	font-weight: 500;
	line-height: 1.4rem;
}

div.roof-designer.sec>span{
	color:#e92f38;
}

div.designer-arrow{
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 2px 2px 4px 0 #D6D6D6;
	box-shadow: 2px 2px 4px 0 #D6D6D6;
}

div.designer-arrow>img{
	position: absolute;
	top: 1rem;
	left: 1rem;
}


div.back-call{
	display: flex;
	justify-content: center;
	width: 100%;
	padding:1rem;
	border:1px solid #e1e1e1;
	border-radius: 3px;
}


div.back-call>div>.cta-text{
	line-height: 1.7rem;
	margin-top: 0.5rem;
}

.back-call .cta-text p:first-child{
	color: #acacac;
	font-size: 0.938rem;
}
.back-call .cta-text p:last-child{
	color: #242424;
	font-size: 1.125rem;
	font-weight: 400;
}

div.back-call>div>span>b{
	font-size: 1.05rem;
	font-weight: 600;

}

div.back-call-button{
	font-weight: 500;
	font-size: 0.938rem;
	color: #212121;
	margin: 1rem 0;
	display: inline-block;
	padding: 0.85rem;
	border:2px solid #e1e1e1;
	border-radius: 3px;
}

div.back-call-button:hover{
	cursor: pointer;
}

div.back-call-button>span>img{
	width: 4%;
	margin-left: 1.5rem;
	margin-right: 1rem;
}

div.product-description{padding: 0 1.2rem;}

div.product-description>p{
	font-weight: 400;
	line-height: 1.5rem;
	color: #212121;
}

div.product-description>p>b{
	font-weight: 600;
}

div.product-description>p>b:after{
	content: '';
	display: block;
	height: 0.8rem;
	clear: both;
	visibility: hidden;
}


/***************************SECOND_LEVEL**********************************/


section.second-level{
	margin-top: 4rem;
}

div.product-interior:after{
	content:'';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.product-interior .show-img::after{
	opacity: 0.5;
}
div.product-interior>h3{
	text-align: center;
	font-weight: 400;
	font-size: 1.363rem;
	padding-bottom: 2rem;
}

div.main-content-left-second-level{
	float: left;
	width: 66.6%;
	padding-right: 30px;
}

div.main-content-right-second-level{
	float: right;
	width: 33.3%;
}


div.product-image-second-level{
	position: relative;
	height: 17rem;
	margin-bottom: 3rem;
}

div.big-vision{
	border-radius: 50%;
	background: rgba(83,84,88,0.8);
	border: 1px solid rgba(83,84,88,0.4);
	height: 35px;
	width: 35px;
	background-image: url(../images/search-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45%;
	position: absolute;
	right: 1.1rem;
	top:1.3rem;
}

div.big-vision:hover{
	background: rgba(83,84,88,1);
	background-image: url(/images/search-icon-hover.png);
	background-repeat: no-repeat;
	background-position: center;
}



div.product-image:hover{
	-webkit-box-shadow: 0 0 20px 0 #C7C7C7;
	box-shadow: 0 0 20px 0 #C7C7C7;
	cursor: pointer;
}

div.product-image{text-align: center;}

div.product-image>img{
	width: 100%;
	height: 17rem;
}

div.product-interior-description{
	display: flex;
	margin-top: 2rem;
}

div.first-description{
	margin-right: 1.2rem;
}



div.product-interior>hr{
	width: 100%;
	border:none;
	border-top:1px solid #dedede;
}

div.section-description{
	display: flex;
	width: 33.3%;
	padding: 0 1rem;
	padding-right: 15px;
}

div.section-description>span{
	color:#908e8e;
	margin: 0.3rem 1rem;
	font-weight: 500;
}

div.section-description>span + img{
	height: 50%;
	margin-top: 0.5rem;
}




/******************ASIDE_MENU***************************/

/****************** 404 ***************************/
.page404{
	padding: 1.8rem;
}
.page404 h1{
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.page404 p a{
	color: #e92f38;
}
/****************** / 404***************************/

/************************************************** FOOTER **************************************/
.footer{
	height: 715px;
	margin-top: -715px;
}
/******************************* FOOTER-TOP *******************/
.footer-top{
	padding: 50px 0 40px;
	background: #444a58;
}

.footer-logo{
	float: left;
}

.footer-buttons{
	float: right;
}

.footer-buttons .btn{
	font-size: 1rem;
}

.footer-obmer{
	padding: 15px 50px;
}

.footer-obmer::after,
.footer-price::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 11px;
	margin-left: 20px;
	background: url('/images/arrow-next-icon.png') no-repeat center;
	vertical-align: middle;
}

.footer-price{
	margin-left: 30px;
	padding: 15px 40px;
}


/******************************* FOOTER-TOP END ***************/
/******************************* FOOTER-INFO *******************/
.footer-info{
	margin-top: 60px;
	font-size: 0;
}

.footer-info-item{
	display: inline-block;
	width: 25%;
	font-size: 1rem;
	padding-right: 15px;
	text-align: left;
	vertical-align: top;
}

.footer-info-item-title{
	margin-bottom: 30px;
	font-size: 1.563rem;
	font-weight: 300;
	color: #fff;
}

.footer-info-item-title a, 
.footer-info-list-item a, 
.footer-location-title, 
.footer-location-text, 
.footer-contacts-text,
.footer-skype span,
.footer-fb span{
	color: #fff;
}

.footer-info-item-title a:hover{	
	text-decoration: underline;
}

.footer-info-list-item{
	margin-bottom: 15px;
	font-size: 1rem;
	font-weight: 400;
}

.footer-info-list-item a, 
.footer-location-text, 
.footer-contacts-text,
.footer-skype span,
.footer-fb span{
	opacity: 0.6;
}

.footer-info-list-item a:hover{
	opacity: 1;
}

/************** FOOTER-LOCATION *******************/
.footer-location-item{
	margin-bottom: 30px;
}

.footer-location-title{
	margin-bottom: 15px;
}

.footer-location-title::before{
	content: '';
	display: inline-block;
	width: 11px;
	height: 15px;
	margin-right: 10px;
	background: url('/images/location-white-icon.png') no-repeat center;
}

.footer-location-text, .footer-contacts-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}
/************** FOOTER-LOCATION END ***************/
/*************** FOOTER-CONTACTS *******************/
.footer-contacts{
	padding-top: 85px;
}

.footer-contacts-text{
	margin-bottom: 20px;
}

.footer-contacts-fb-skype a{
	margin-bottom: 15px;
}

.footer-skype, .footer-fb{
	display: block;
}

.footer-skype::before, .footer-fb::before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.footer-skype::before{
	background: url('/images/skype-icon.png') no-repeat center;
}

.footer-fb::before{
	background: url('/images/facebook-icon.png') no-repeat center;
}
/*************** FOOTER-CONTACTS END ***************/
/******************************* FOOTER-INFO END ***************/
.footer-copyright{
	background: #fff;
}

.footer-copyright-text{
	margin-top: 45px;
	font-weight: 500;
	color: #212121;
}
/************************************************** FOOTER END **********************************/

#video_pause{
	position: absolute;
	width: 100%;
	height: 85%;
	top: 0;
	left: 0;
	background: url('/images/play-video.png') no-repeat center;
	cursor: pointer;
}


/************************************************** new styles **********************************/

.overflow{
	overflow: hidden;
}
.main{
	width: 1200px;
	/*padding: 0 15px;*/
	margin: 0 auto;
}
.main .main_nav{
	padding: 1.625rem 15px;
}
.main_nav .go_back{
	float: left;
}
.main_nav .breadcrumbs{
	float: left;
	padding: 0.4rem 0 0 0;
	margin-left: 2.5rem;
}
.breadcrumbs li{
	position: relative;
	float: left;
	margin-left: 1.688rem;
}
.breadcrumbs li:first-child{
	margin-left: 0;
}

.breadcrumbs li:not(:last-child)::after {
	content: '>';
	position: absolute;
	top: 0.1rem;
	right: -1.125rem;
	display: block;
	width: 7px;
	height: 7px;
	font-size: 0.875rem;
	color: #b3b3b3;
}
.breadcrumbs li a{
	font-size: 0.875rem;
	color: #b3b3b3;
	font-weight: 400;
}

.main .content_wrapper{
	padding: 0 15px;
}
.content_wrapper h1{
	font-size: 1.875rem;
	color: #2e2e2e;
	padding: 0.188rem 0;
}
.content_wrapper img{
	max-width: 100%;
}

/************************* Contacts *************************/

.content-contacts {
	margin: 0.513rem 0 0 0;
}
.content-contacts >div{
	width: 42%;
	min-height: 16.750rem;
	float: left;
	padding-left: 6.25rem;
	border-right: 1px solid #e9e9e9;
}
.content-contacts >div:first-child{
	width: 25%;
	padding-left:0;
}
.content-contacts >div:last-child{
	width: 33%;
	border-right:0;
	padding-left:2.188rem;
}
.content-contacts .contact-title{
	color: #272727;
	padding: 0.813rem 0;
}
.content-contacts .contact-title i{
	margin-right: 0.35rem;
}
.content-contacts .contact-content{
	color: #7d7d7d;
	width: 65%;
	margin: 0;
	line-height: 1.7;
}
.content_wrapper .map{
	margin-top: 2.5rem;
}
.content_wrapper .afterword{

	margin: 4.063rem 0;
}

/************************* / Contacts *************************/

.foreword,.afterword{
	color: #1f1f1f;
	line-height: 1.7;
	font-size: 1.063rem;
}

/************************* Certificates *************************/

.content-certificates{
	margin-top: 1.625rem;
}
.content-certificates .foreword{

}
.content-certificates .certificates-wrapper{
	padding: 1rem 6.25rem 0 6.25rem;
}
.certificates-wrapper .grid-el{
	width: 50%;
	float: left;
	margin-bottom: 3.125rem;
	/*padding: 0 0.625rem;*/
}
.grid-el .cerf-img{
	width: 10.625em;
	float: left;
}
.cerf-img a{
	display: block;
}
.cerf-img,.cerf-img a{
	position: relative;
}

.cerf-img .show-img::after{
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	width: 60px;
	height: 60px;
	opacity: 0.6;
}
.cerf-img:hover .show-img::after{
	display: block;
}

.cerf-description{
	width: 18.75rem;
	float: right;
	padding: 0 1rem;
}
.cerf-description .cerf-desc-title{
	font-size: 1.125rem;
	color: #1b1b1b;
	min-height: 5.188rem;
	line-height: 1.3;
	margin-top: 0.625rem;
}
.cerf-description .cerf-desc-content{
	color: #787878;
	font-size: 1.063rem;
	line-height: 1.3;
}
/************************* / Certificates *************************/

/************************* About ***************************/

.content-about{

}
.about_banner{
	position: relative;
}
.about_banner h1{
	position: absolute;
	margin: auto;
	max-height: 2.2rem;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 2.688rem;
	color: #ffffff;
	font-weight: 100;
	padding: 0;
}
.content-about .content{
	width: 65%;
}
.content-about .content p,
.content-about .content div:not(.designers-tc){
	color: #1f1f1f;
	margin-top: 2rem;
	line-height: 1.7;
}
.content-about .content>h2{
	color: #1f1f1f;
	margin-top: 2rem;
	font-size: 1.438rem;
}
.content-about .content table td{
	padding: 0.5rem 1rem;
	font-weight: 500;
}

.content-about .content p:first-child{
	font-weight: bold;
}
.content-about .content>*:last-child{
	margin: 2rem 0;
}
/************************* / About *************************/

/************************* Systems *************************/

/*.ps-nav-text:hover,*/
.ps-nav-active .ps-nav-text{
	color: #50b1fe;
}
/*.ps-nav-text:hover::after,*/
/*.ps-nav-text:hover::before,*/
.ps-nav-active .ps-nav-text::after,
.ps-nav-active .ps-nav-text::before{
	display: block;
}

.profiles-inter-img{
	width: 31.6%;
	float: left;
}
.profiles-inter-img a{
	display: block;
}
.profiles-inter-img,.profiles-inter-img a{
	position: relative;
}
.profiles-inter-img .show-img::after{
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.profiles-description{
	/*float: left;*/
	/*width: 65%;*/

	margin-left: 2.9%;
}
.trian-controls{}
.slide-prev {
	left: 20px;
	background-image: url('/images/info-panel-arrow-prev.png');
}
.slide-prev:hover{
	background-color: rgba(0, 0, 0, 0.4);
}
.slide-next {
	right: 20px;
	background-image: url('/images/info-panel-arrow-next.png');
}
.slide-next:hover{
	background-color: rgba(0, 0, 0, 0.4);
}
/***************** INFO-PANEL CONTROLS END ***************/
/***************** PROFILES CONTROLS *******************/
.profiles-slider-wrapper-inner .slide-prev{
	/*left: -120px;*/
	background-image: url('/images/big-arrow-prev.png');
}
.profiles-slider-wrapper-inner .slide-prev:hover{
	opacity: 1;
}

.profiles-slider-wrapper-inner .slide-next{
	/*right: -120px;*/
	background-image: url('/images/big-arrow-next.png');
}
.profiles-slider-wrapper-inner .slide-next:hover{
	opacity: 1;
}
/***************** PROFILES CONTROLS END ***************/

.trian-controls a {
	position: absolute;
	/*top: 50%;*/
	/*margin-top: -45px;*/
	outline: 0;
	width: 50px;
	height: 90px;
	text-indent: -9999px;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3px;
}

.profiles-slider-wrapper-inner .trian-controls a{
	position: absolute;
	top: 31.5%;
	/*margin-top: -45px;*/
	outline: 0;
	width: 65px;
	height: 65px;
	text-indent: -9999px;
	z-index: 10;
	background-color: #50b1fe;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	opacity: 0.8;
}
.t-border{
	border-top: 1px solid #d9dada;
}
.t-marg{
	margin-top: 7.188rem;
}
.t-marg-sm{
	margin-top: 2.5rem;
}
/************************* / Systems *************************/

.product-inter-images{
	position: relative;
}

.product-inter-images .show-img::after{
	right: 2.9rem;
	opacity: 0.5;
}

.img-grid-el{
	float: left;
	width: 33.33%;
	padding:0 1.875rem 0 0;
	margin:0 0 3rem 0;
	height: 17rem;
	box-sizing: border-box;
	position: relative;
}
.padding-0{
	padding: 0;
}
.img-grid-el>img{
	width: 100%;
	height: 17rem;
}
.big-img{
	width: 66.66%;
}

/************************* Designers *************************/

.designers-tc{
	height: 7.313rem;
	background: #ec471f;
	margin-top: 2rem;
	color: #ffffff;
	text-align: center;
}
.designers-tc h2{
	font-size: 1.438rem;
	padding: 1rem 0;
}
.designers-tc .tc-link{

}
.btn_arrow{
	color: #ffffff;
	font-size: 0.938rem;
	text-transform: uppercase;
	padding: 0.875rem 2.375rem 0.875rem 0.688rem;
	background: url("/images/dis-tc-arrow.png") no-repeat 91% 49% ;
	border: 2px solid #ffffff;
	border-radius: 3px;
	display: inline-block;
}
/************************* / Designers *************************/

/************************* Dillers *************************/

.content-about.content-dillers .content{
	width: 100%;
}

.dillers-form,.dillers-content{
	float: left;
}
.dillers-form{
	width: 23.2%;
	margin: 2rem 0;
}
.dillers-form h3{
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #222222;
	padding-bottom: 0.813rem;
}
.dillers-form form{
	width: 100%;
	background: #f9f9f9;
	border: 2px solid #e5e5e5;
	border-radius: 3px;
}
.dillers-form form label{
	color: #484848;
	font-size: 0.875rem;
	padding: 0.563rem 1.563rem;
}
.dillers-form form label,
.dillers-form form input,
.dillers-form form textarea{
	display: block;
}
.dillers-form input,
.dillers-form textarea{
	width: 13.438rem;
	padding: 1.438rem 1rem;
	border: 2px solid #e1e1e1;
	border-radius: 3px;
	margin-top: 0.625rem;
	box-sizing: border-box;
}
.dillers-form textarea{
	min-height: 8.313rem;
	resize: none;
}
.dillers-form input[type="submit"]{
	margin: 1.625rem auto 2.188rem auto;
	padding: 1rem 1rem;
	font-size: 0.938rem;
	color: #ffffff;
	text-transform: uppercase;
	background: #50b1fe;
	border: none;
	cursor: pointer;
}

.dillers-content{
	width: 76.8%;
	padding-left: 1.875rem;
}
.content-about.content-dillers .content .dillers-content p:first-child{
	margin-top: 0;
	line-height: 0.8;
}
.content-about .content ul{
	padding-left: 1.2rem;
}
.content-about .content ul li{
	list-style-type: disc;
	padding:0.4rem 0 0.4rem 1rem;
	line-height: 1.7;
	color: #1f1f1f;
}
/************************* / Dillers *************************/
/************************* Gallery *************************/

.gallery_wrap h1{
	font-size: 1.375rem;
	font-weight: 400;
	color: #b9b9b9;
	margin-bottom: 2rem;
	padding: 0;
}
.gallery #product-slider .mTSThumbContainer{
	width: 11.063rem;
	height: 110px;
}
.gallery #product-slider .mTSThumbContainer img{
	height: 110px;
	width: 100%;
}
.gallery #main_images_catalog{
	margin-top: 0;
}
.gallery .product-slider{
	text-align: center;
}
.gallery .show-slide{
	display: inline-block;
	height: auto;
}
.gallery .show-slide,.gallery .show-slide>img{
	width: auto;
	max-height: 85vh;
}

.gallery_wrap .btn_wrap{
	text-align: center;
}
.gallery_wrap .btn_arrow{
	background-color: #ec461f;
	border: 0;
	margin-top: 1rem;
	padding: 0.875rem 3.1rem 0.875rem 1.5rem;
}
.content-about.content-gallery .content {
	width: 100%;
}

.loader{
	width: 100%!important;
	height: 22rem!important;
}
.loader::after{
	margin: 0 auto;
	font-size: 25px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load5 1.1s infinite ease;
	animation: load5 1.1s infinite ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@-webkit-keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}
@keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}

/************************* / Gallery *************************/
/************************* Clients *************************/

.content_wrapper .clients_desc{
	line-height: 1.7;
	color: #1f1f1f;
	padding: 1.625rem 0;
}
.clients_wrap{
	margin-bottom: 2.5rem;
}
.clients_grid_el{
	float: left;
	width: 33.33%;
	padding: 0 1.813rem 0 0;
	margin: 0 0 1.813rem 0;
	height: 17.25rem;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
/*.clients_grid_el:nth-child(3n+3){*/
/*padding: 0;*/
/*}*/
.clients_wrap img{
	width: 100%;
	height: 100%;
}
.clients_grid_el:hover .client_content_wrap{
	display: block;
}

.client_content_wrap{
	overflow: scroll;
	width: 92.5%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	color: #ffffff;
	height: 100%;
	display: none;
}
.client_content_wrap .client_name{
	font-size: 1.3rem;
	text-align: center;
	margin: 1.688rem 0;
	font-weight: 400;
}
.client_content_wrap .client_content{
	padding: 0 1.25rem;
	line-height: 1.7;
	font-weight: 400;
}

/************************* / Clients *************************/



.white-btn{
	font-size: 1rem;
	color: #ec461f;
	background: #fff;
	border: 2px solid #ec461f;
	text-transform: uppercase;
}

.white-btn:hover{
	transition: all 0.2s ease;
	background: #ec461f;
	color: #fff;
}

/*********************************** Sales **************************************/
.stock-item:last-child{
	padding-top: 2.813rem;
	/*border-bottom: 1px solid #dadada;*/
}

.stock-item-title{
	margin-bottom: 1.75rem;
	font-size: 1.875rem;
	color: #2e2e2e;
}



.stock-item-title a:hover{
	text-decoration: underline;
}

.stock-item-figcap{
	max-width: 30%;
	border: 1px solid #dadada;
}

.stock-item-img{
	position: relative;
}

.stock-item-img img{
	display: block;
	max-width: 100%;
}

.stock-item-percent{
	position: absolute;
	top: 20px;
	left: 15px;
	padding: 8px 18px;
	font-size: 1rem;
	color: #fff;
	border-radius: 25% / 50%;
	background: #1ab4dc;
}

.stock-item-text{
	font-size: 1rem;
	line-height: 1.4;
	color: #2e2e2e;
}

.stock-item-img-caption{
	padding: 30px 0;
}

.stock-item-img-caption .btn span{
	vertical-align: middle;
}

.stock-fl{
	float: left;
	margin: 0 1.875rem 1.875rem 0;
}

.stock-fr{
	float: right;
	margin: 0 0 1.875rem 1.875rem;
}

.stock-item:first-child{
	padding-top: 0;
}

.stock-slider{
	position: relative;
	overflow: hidden;
	width: 100%;
	/*height: 439px;*/
}

.stock-slider-list{
	height: 100%;
}

.stock-slider-item{
	float: left;
	height: 100%;
}
.stock-slider-container{
	height: 27.5rem;
}
.stock-slider-container img{
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.white-btn::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 11px;
	margin-left: 20px;
	background: url('/images/red-arrow.png') no-repeat center;
	vertical-align: middle;
}

.white-btn:hover::after{
	background: url('/images/arrow-next-icon.png') no-repeat center;
}

.stock-slider .trian-controls a{
	top:40%;
	margin-top: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
/************************************* /Sales **************************************/

/************************************* Construct **************************************/

.construct_wrap{
	padding: 0 15px;
}
.construct_wrap,
.construct_images{
	height: 760px;
	position: relative;
}
.construct_wrap img{
	max-width: 100%;
}
.construct_images{
	/*width: 925px;*/
	/*margin: 0 auto;*/
	z-index: 1100;
}
.constr_elem{
	position: absolute;
	top:0;
	left: 0;
}
.b{
	font-weight: 500;
}
.constr_elem.default{
	opacity: 0.2;
}
.constr_elem.base{
	z-index: 0;
}
.constr_elem.inter{
	z-index: 10000;
}
.constr_elem.top-inter{

}
.constr_elem.top-inter img{

}
.construct_wrap canvas{
	width: 1052px;
	height: 746px;
	top: 0;
	z-index: 1000;
	opacity: 0.5;
}

.constr_controls{
	z-index: 20000;
	padding: 0.938rem 0 0 1.438rem;
}
.constr_controls_elem{
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	margin-bottom: 0.438rem;
	cursor: pointer;
	position: relative;
}
.controls_content_wrap,
.constr_controls_arrow{
	height: 3.938rem;
	background-color: #ffffff;
	float: left;
	cursor: pointer;
}
.controls_content_wrap{
	width: 12.438rem;
	padding:0.8rem 0 0 1.5rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.constr_controls_arrow{
	width: 2.813rem;
	border-left: 1px solid #e0ddde;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.controls_elem_title{
	font-size: 0.9rem;
	color: #7c7c7c;
}
.controls_elem_content_color{
	width: 22px;
	height: 22px;
	border-radius: 50px;
	margin: 0.3rem 0 0 0.15rem;
	opacity: 0.5;
}
.floor_color{
	background-color: #f5e5d2;
}
.walls_color{
	background-color: #ebe5e6;
}
.constr_controls_arrow{
	background: #ffffff url("/images/construct-arrow.png") no-repeat center ;
}
.constr_material_title{
	color: #1e1e1e;
	font-size: 1.125rem;
	padding-top: 0.3rem;
}
.constr_count_price{
	width: 15.251rem;
	height: 3.938rem;
	background-color: #50b1fe;
	text-align: center;
	font-size: 1.125rem;
	color: #ffffff;
	border-radius: 5px;
	line-height: 3.5;
	cursor: pointer;
}
.constr_calc{
	width: 15.251rem;
	background-color: #ffffff;
	border-radius: 5px;
}
.constr_calc .controls_content_wrap{
	float: none;
	width: 100%;
	border-bottom: 1px solid #e0ddde;
	border-radius: 0;
}
.constr_calc_form{
	padding:0.8rem 0 0.8rem 1.5rem;
	color: #7c7c7c;
	font-size: 0.9rem;
	border-bottom: 1px solid #e0ddde;
}
.constr_calc_form form label{
	display: block;
}
.constr_calc_form .input_wrap {
	width: 50%;
	float: left;
}
.constr_calc_form form input{
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	width: 4.563rem;
	box-sizing: border-box;
	padding: 0.5rem 0.3rem;
	margin-top: 0.65rem;
}
.constr_calc .constr_count_price{
	background-color: #eb3f27;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
}
.colors{
	position: absolute;
	display: none;
	right: -80%;
}
.color_val{
	display: none;
}
.farbtastic::after,
.ceil_colors_wrap::after,
.textures_list::after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 10px 7.5px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	left: -10px;
	top:18%;
}

.ceil_colors_wrap{
	position: absolute;
	right: -135%;
	display: none;
}
.ceil_colors{
	position: relative;
	width:11rem;
	height:10rem;
	padding: 1.375rem 1.438rem 1.375rem 0.5rem;
	background: white;
	overflow-y: auto;
	float: left;
}
.ceil_colors .color_el{
	float: left;
	width: 2rem;
	height: 2rem;
	border-radius: 50px;
	border: 1px solid #d4d8dd;
	margin-left: 0.938rem;
	margin-bottom: 0.875rem;
	cursor: pointer;
}
.color_desc{
	position: relative;
	width: 10rem;
	height: 9.5rem;
	background: white;
	margin: 0.25rem 0 0 0.25rem;
	float: left;
}
.color_desc .current_color{
	width: 5.7rem;
	height: 5.7rem;
	border-radius: 100px;
	margin: 0.688rem auto;
}
.current_color_title{
	color: #9e9e9e;
	font-size: 0.875rem;
	text-align: center;
	padding: 0 0.5rem;
}
.textures_list{
	position: absolute;
	display: none;
	right: -45%;
	background: #ffffff;
	padding: 0.5rem 1.5rem;
	font-size: 1.1rem;
}
.textures_list .texture_list_el{
	margin: 0.5rem 0;
	color: #9e9e9e;
	cursor: pointer;
	text-align: center;
}
.textures_list .texture_list_el:hover{
	color: #1e1e1e;
}

.close_widget{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -4%;
	background: url("/images/widget-close.png") no-repeat center ;
	cursor: pointer;
	z-index: 2000;
}
.colors .close_widget{
	top: -2%;
	right: -1%;
}
.textures_list .close_widget{
	right: 0;
}
.ceil_colors_wrap .close_widget{
	right: 50%;
}

/************************************* /Construct **************************************/
/************************************* Articles **************************************/

.articles_page .articles-short,
.article_page .articles-short{
	width: 100%;
	float: none;
}
.articles_page .articles-short-img{
	height: 265px;
}
.article_page.articles-news{
	padding: 0;
}
.article_page .h1-title{
	margin-bottom: 0;
}
.article_content{
	line-height: 1.7;
	color: #212121;
}
.article_content p:not(:first-child){
	margin: 1rem 0;
}
.link_color{
	color: #EC461F;
}
/************************************* /Articles **************************************/
/************************************* Tc **************************************/

.tc_banner{
	/*height: 15.375rem;*/
	text-align: center;
	background:#ec471f url('/images/tc-psd-icon.png') no-repeat 25% 50%;
	padding: 4.5625rem 0;
}
.centred{
	display: inline-block;
	margin: 0 auto;
	text-align: left;
}
.tc_banner h1{
	color: #ffffff;
}
.tc_download_link{
	background: transparent;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 15px 30px 15px 15px;
	text-transform: uppercase;
	margin-top: 0.9rem;
}
.tc_download_link::before {
	content: '';
	display: inline-block;
	width: 9px;
	height: 12px;
	margin-right: 15px;
	background: url('/images/download-icon.png') no-repeat center;
	vertical-align: middle;
}
.content-about.tc p:first-child{
	font-weight: normal;
}
/************************************* /Tc **************************************/
/************************************* Price-list **************************************/

.price-list-wrapper h1{
	color: #50b1fe;
	padding: 1.7rem 4rem;
	line-height: 0.7;
	font-weight: 500;
	background:#444a58 url('/images/price-list-icon.png') no-repeat 2.5% 50%;
}

table.table{
	width: 100%;
	height: 100%;
	border-spacing: 2px;
}
table.table th{
	padding: 0.25rem 0;
}
table.table td{
	padding: 1rem 0 1rem 1rem;
}
.table-footer-red{
	background: #ffdfd8;
	color: #ec461f;
}
.table-titles{
	text-transform: uppercase;
	font-weight: 500;
	text-align: left;
}
.table-row-color-grey th,
.table-row-color-grey td{
	background: #dadbde;
	color: #696b73;
}

.table .table-row-color-darkgrey .blue-color{
	color: #50b1fe;
}
.table .table-row-color-darkgrey th{
	background: #444a58;
	padding: 1rem 0 1rem 1rem;
	color: #ffffff;
}

.table-row-color-grey td{
	border-bottom: 3px solid #ffffff;
}
.table-titles th{
	vertical-align: middle;
}
.w-10{
	width: 10%;
}
.w-20{
	width: 35%;
}

.w-80{
	width: 80%;
}
.red-color{
	color: #ec461f!important;
}
.table-manufacturer-title{
	background: #ffffff;
	color: #ec461f;
}
.table-marg-t{
	margin-top: 3.125rem;
}
.tab-el tbody{
	display: none;
}
.tab-el thead{
	cursor: pointer;
	border-bottom: 3px solid #ffffff;
}
.grey-text{
	color: #696b73;
}

/************************************* /Price-list **************************************/
.no-active{
	opacity: 0.3;
	cursor: default;
}
.no-active:hover .ps-video-title{
	text-decoration: none;
}


@media screen and (max-width: 1281px){
	.main{
		width: 1150px;
	}
	.section-content{
		width: 1150px;
		padding: 0 18px;
	}

	.main .main_nav{
		padding: 1.625rem 18px;
	}

	.main .content_wrapper{
		padding: 0 18px;
	}

	.main-content{
		padding: 45px 18px 0 18px;
	}

	.profiles-slider-nav{
		padding: 0 18px;
	}
	.cerf-description{
		width: 17.8rem;
	}
	.dillers-form input, .dillers-form textarea{
		width: 12.7rem;
	}
	.call_order form label{
		padding: 0.563rem 1rem!important;
	}
}

@media screen and (max-width: 1201px){
	.main{
		width: 1075px;
	}
	.section-content{
		width: 1075px;
	}

	.main .main_nav{
		padding: 1.625rem 20px;
	}

	.main .content_wrapper{
		padding: 0 20px;
	}

	.main-content{
		padding: 45px 18px 0 20px;
	}

	.profiles-slider-nav{
		padding: 0 20px;
	}
	.cerf-description{
		width: 16.5rem;
	}

	.dillers-form input, .dillers-form textarea{
		width: 11.5rem;
		padding: 1rem 1rem;
	}
	.content-certificates .certificates-wrapper{
		padding: 1rem 5rem 0 5rem;
	}
	.header-nav-item{
		margin-right: 2.4rem;
	}
	.cta-separator{
		padding: 0 40px;
	}
	.cta-btn{
		padding: 15px 40px;
	}
	.call_order form label{
		padding: 0.563rem 0.5rem!important;
	}
}