.mobile-menu-close-btn,
.mobile-menu-btn,
.desktop-hidden{
    display: none;
}


@media screen and (max-width: 600px){
    .wrapper{
        min-width: 100%;
        max-width: 100%;
    }
    .section-content,
    .main{
        width:100%;
        padding: 0;
    }

    .fixed-nav-panel{
        display: none;
    }

    .desktop-hidden{
        display: block;
    }

    .header{
        position: relative;
        z-index: 50;
        padding-top: 0;
        padding-bottom: 1rem;
    }
    .header-content-wrapper{
        height: auto;
        border: 0;
    }
    .h-logo-link{
        top: auto;
        margin-top: 0;
    }
    .header-logo,
    .header-contacts-nav{
        width: 100%;
        float: none;
    }
    .header-logo{
        padding: 1rem 0 0 0;
    }
    .header-contacts, .header-nav{
        height: auto;
    }
    .header-separator{
        display: none;
    }

    .header-contacts-nav{
        padding: 0;
    }
    .header-contacts-cell{
        display: block;
    }
    .h-dropdown{
        display: none;
    }
    .header-phones{
        padding: 0;
    }
    .header-phones::before{
        display: none;
    }

    .header-phones-list{
        display: block;
    }
    .header-phones-item{
        margin-right: 0;
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
    .header-phones-item span{
        font-size: 1.2rem;
    }
    .h-order-call{
        text-align: center;
        margin-top: 1rem;
    }

    .small-btn_mobile_size{
        padding: 12px 30px;
        font-size: 1.2rem;
    }

    .header-nav{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 100;

    }
    .header-nav-list{
        display: none;
        padding-top: 0;
        background: #444a58;
    }
    .header-nav-item{
        display: block;
        margin-right: 0;
        width: 100%;
        padding: 0.75rem 0;
    }
    .header-nav-link{
        color: #ffffff;
    }
    .header-nav-link::after{
        bottom: auto;
    }

    .mobile-menu-close-btn{
        position: absolute;
        z-index: 50000;
        width: 50px;
        height: 50px;
        margin: auto;
        top: 0;
        right: 0;
        background-image: url(/images/close.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .mobile-menu-btn{
        display: inline-block;
        font-size: 2.2rem;
        padding: 0.75rem 0 0 0.5rem;
    }

    .advantages{
        display: none;
    }
    .info-slider{
        height: auto;
        min-height: 220px;
        max-height: 250px;
    }

    .spring-share{
        width: 85%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 5% 10%;
        font-size: 1rem;
    }
    .spring-share-title{
        font-size: 1.25rem;
    }
    .info-slider-wrapper{
        /*margin-bottom: 1rem;*/
    }
    .services-item{
        width: 100%;
        display: none;
    }
    .services-item:last-child{
        display: block;
    }

    .services-info{
        padding: 3.125rem 0 2.125rem 0;
    }
    .services-info-columns-item{
        display: block;
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .profiles{
        display: none;
    }
    .call-to-action .cta-content{
        padding: 30px 1rem;
    }
    .cta-phones{
        width: 70%;
        text-align: center;
    }
    .call-to-action .cta-content::before{
        margin-right: 25px;
    }
    .cta-separator,
    .cta-button{
        display: block;
        text-align: center;
        margin: 1rem 0;
    }
    .plenki-item,
    .plenki-xl{
        width: 100%;
        display: block;
        padding: 0 1.875rem 0 1.875rem;
    }
    .strong-five-video{
        display: none;
    }
    .strong-five-advantages{
        width: 100%;
        float: none;
        padding: 20px 10px 0 10px;
    }
    .h2-subtitle{
        text-align: center;
        padding: 0 1rem;
    }
    .articles-short{
        float: none;
        width: 100%;
        padding: 0 10px;
    }
    .articles-short-list{
        overflow: hidden;
    }
    .articles-short-item{
        width: 50%;
        padding: 0 0 20px 0;
        min-height: 325px;
    }
    .articles-short-item:nth-child(odd){
        float: left;
        padding-right: 5px;
    }
    .articles-short-item:nth-child(even){
        float: right;
        padding-left: 5px;
    }
    .news-short{
        display: none;
        /*width: 100%;*/
        /*float: none;*/
        /*padding: 0 10px;*/
    }
    .footer{
        margin-top: 0;
        height: auto;
    }
    .footer-info{
        display: none;
    }
    .footer-logo,
    .footer-buttons{
        float: none;
        text-align: center;
    }
    .footer-price{
        margin-left: 0;
    }
    .footer-buttons .btn{
        margin-top: 20px;
    }
    .footer-copyright-text{
        margin: 20px 0;
        text-align: center;
    }

    .call_order form{
        width: 90%;
        max-height: 20rem;
    }
    .call_order form .input-title,
    .call_order input{
        width: 100%;
        float: none;
        text-align: center;
    }
    .call_order form label{
        padding: 0 0.5rem!important;
    }

    .stock-slider-container{
        height: 18rem;
    }

    .wrapper-inner{
        padding-bottom: 0;
    }
    .box{
        padding: 0 0 45px 0;
    }

    .main-content-left,
    .main-content-right{
        width: 100%;
        float: none;
        padding: 0;
    }
    div.roof-designer{
        display: none;
    }

    .color-palette,
    .product-prop,
    .color-cursor{
        display: none;
    }

    div.product-properties>div.content-right, div.product-properties>div.content-left{
        float: none;
        width: 100%;
        margin-bottom: 0;
        padding: 0 10px;
    }
    div.product-properties>div.content-left{
        margin-top: 20px;
    }
    div.product-properties ul>li{
        display: block;
        text-align: center;
    }
    div.product-properties ul li:last-child{
        margin-right: 0;
    }
    div.product-properties ul>li>div{
        width: 40px;
        height: 40px;
        text-align: center;
    }
    div.product-properties ul>li>span{
        margin-left: 0;
    }
    section.second-level{
        display: none;
    }
    section.first-level{
        margin-bottom: 40px;
    }

    div.show-slide{
        min-height: 15rem;
        max-height: 20rem;
        height: auto;
    }

    .profiles-slider-wrapper-inner .profiles-slider-nav{
        display: none;
    }
    .profiles-slider-wrapper-inner .profiles-slider-img,
    .profiles-slider-wrapper-inner .profiles-slider-video{
        width: auto;
    }
    .profiles-slider-img img{
        height: auto;
    }
    .profiles-description{
        margin-bottom: 40px;
    }
    .profiles-slider-video{
        display: none;
    }
    .content-about .content{
        width: 100%;
    }
    .dillers-form,
    .dillers-content{
        width: 100%;
        float: none;
    }
    .dillers-form input, .dillers-form textarea{
        width: 100%;
    }
    .dillers-form input[type="submit"]{
        width: 88%;
    }
    .dillers-content{
        padding: 0;
    }

    .content-contacts >div{
        width: 100%!important;
        float: none;
        min-height: 0;
        padding: 0!important;
        border-right: 0;
    }
    .content-contacts .contact-content{
        width: 100%;
    }
    .content_wrapper .map>*{
        width: 100%!important;
        margin-bottom: 40px;
    }
    table.table{
        font-size: 0.9rem;
    }
    .table.main-price tr th:nth-child(2):not(.red-color),
    .table.main-price tr td:nth-child(2){
        display: none;
    }
    .price-list-wrapper h1{
        font-size: 1.6rem;
    }
    .tc_banner{
        background: #ec471f url('/images/tc-psd-icon.png') no-repeat 95% 95%;
    }
}

@media screen and (max-width: 420px){
    .articles-short-item{
        width: 100%;
        padding: 0 0 20px 0;
        min-height: 0;
        float: none;
    }
    table.table{
        font-size: 0.8rem;
    }
    table.table td{
        padding: 1rem 0 1rem 0.2rem;
    }
    .bx-wrapper .bx-next,
    .slide-next{
        right: 0;
    }
    .bx-wrapper .bx-prev,
    .slide-prev{
        left: 0;
    }
}
@media screen and (max-width: 360px){
    .plenki-item, .plenki-xl{
        padding: 0 10px;
    }
    .call-to-action .cta-content::before,
    .cta-phones{
        display: block;
    }
    .call-to-action .cta-content::before{
        margin: 0 auto 20px auto;
    }
    .cta-phones{
        width: 100%;
    }
    .cta-phones-item{
        display: block;
        margin-right: 0;
        margin-bottom:10px;
    }
    .back-call .cta-content::before{
        display: block;
        margin: 0 auto 20px auto;
    }
    div.back-call>div>.cta-text{
        text-align: center;
    }
    div.back-call{
        display: block;
        text-align: center;
    }
    .ps-nav-item{
        font-size: 1.05rem;
    }
    .main_nav .breadcrumbs{
        margin-left: 10px;
    }
    .breadcrumbs li a{
        font-size: 0.75rem;
    }
    div.show-slide{
        min-height: 10rem;
    }

}