.overflow{
    overflow: hidden;
}
.main{
    width: 1200px;
    /*padding: 0 15px;*/
    margin: 0 auto;
}
.main .main_nav{
    padding: 1.625rem 15px;
}
.main_nav .go_back{
    float: left;
}
.main_nav .breadcrumbs{
    float: left;
    padding: 0.4rem 0 0 0;
    margin-left: 2.5rem;
}
.breadcrumbs li{
    position: relative;
    float: left;
    margin-left: 1.688rem;
}
.breadcrumbs li:first-child{
    margin-left: 0;
}

.breadcrumbs li:not(:last-child)::after {
    content: '>';
    position: absolute;
    top: 0.1rem;
    right: -1.125rem;
    display: block;
    width: 7px;
    height: 7px;
    font-size: 0.875rem;
    color: #b3b3b3;
}
.breadcrumbs li a{
    font-size: 0.875rem;
    color: #b3b3b3;
    font-weight: 400;
}

.main .content_wrapper{
    padding: 0 15px;
}
.content_wrapper h1{
    font-size: 1.875rem;
    color: #2e2e2e;
    padding: 0.188rem 0;
}
.content_wrapper img{
    max-width: 100%;
}

/************************* Contacts *************************/

.content-contacts {
    margin: 0.513rem 0 0 0;
}
.content-contacts >div{
    width: 42%;
    min-height: 16.750rem;
    float: left;
    padding-left: 6.25rem;
    border-right: 1px solid #e9e9e9;
}
.content-contacts >div:first-child{
    width: 25%;
    padding-left:0;
}
.content-contacts >div:last-child{
    width: 33%;
    border-right:0;
    padding-left:2.188rem;
}
.content-contacts .contact-title{
    color: #272727;
    padding: 0.813rem 0;
}
.content-contacts .contact-title i{
     margin-right: 0.35rem;
}
.content-contacts .contact-content{
    color: #7d7d7d;
    width: 65%;
    margin: 0;
    line-height: 1.7;
}
.content_wrapper .map{
    margin-top: 2.5rem;
}
.content_wrapper .afterword{

    margin: 4.063rem 0;
}

/************************* / Contacts *************************/

.foreword,.afterword{
    color: #1f1f1f;
    line-height: 1.7;
    font-size: 1.063rem;
}

/************************* Certificates *************************/

.content-certificates{
    margin-top: 1.625rem;
}
.content-certificates .foreword{

}
.content-certificates .certificates-wrapper{
    padding: 1rem 6.25rem 0 6.25rem;
}
.certificates-wrapper .grid-el{
    width: 50%;
    float: left;
    margin-bottom: 3.125rem;
    /*padding: 0 0.625rem;*/
}
.grid-el .cerf-img{
    width: 10.625em;
    float: left;
}
.cerf-img a{
    display: block;
}
.cerf-img,.cerf-img a{
    position: relative;
}

.cerf-img .show-img::after{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 60px;
    height: 60px;
    opacity: 0.6;
}
.cerf-img:hover .show-img::after{
    display: block;
}
/*.cerf-img:hover a::after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*margin: auto;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*border-radius:100px;*/
    /*background: #000000 url("/images/loop.png") no-repeat center ;;*/
    /*opacity: 0.6;*/
/*}*/
.cerf-description{
    width: 18.75rem;
    float: right;
    padding: 0 1rem;
}
.cerf-description .cerf-desc-title{
    font-size: 1.125rem;
    color: #1b1b1b;
    min-height: 5.188rem;
    line-height: 1.3;
    margin-top: 0.625rem;
}
.cerf-description .cerf-desc-content{
    color: #787878;
    font-size: 1.063rem;
    line-height: 1.3;
}
/************************* / Certificates *************************/

/************************* About ***************************/

.content-about{

}
.about_banner{
    position: relative;
}
.about_banner h1{
    position: absolute;
    margin: auto;
    max-height: 2.2rem;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2.688rem;
    color: #ffffff;
    font-weight: 100;
    padding: 0;
}
.content-about .content{
    width: 65%;
}
.content-about .content p,
.content-about .content div:not(.designers-tc){
    color: #1f1f1f;
    margin-top: 2rem;
    line-height: 1.7;
}
.content-about .content>h2{
    color: #1f1f1f;
    margin-top: 2rem;
    font-size: 1.438rem;
}
.content-about .content table td{
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.content-about .content p:first-child{
    font-weight: bold;
}
.content-about .content>*:last-child{
    margin: 2rem 0;
}
/************************* / About *************************/

/************************* Systems *************************/

/*.ps-nav-text:hover,*/
.ps-nav-active .ps-nav-text{
    color: #50b1fe;
}
/*.ps-nav-text:hover::after,*/
/*.ps-nav-text:hover::before,*/
.ps-nav-active .ps-nav-text::after,
.ps-nav-active .ps-nav-text::before{
    display: block;
}

.profiles-inter-img{
    width: 31.6%;
    float: left;
}
.profiles-inter-img a{
    display: block;
}
.profiles-inter-img,.profiles-inter-img a{
    position: relative;
}
.profiles-inter-img .show-img::after{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.profiles-description{
    /*float: left;*/
    /*width: 65%;*/

    margin-left: 2.9%;
}
.trian-controls{}
.slide-prev {
    left: 20px;
    background-image: url('/images/info-panel-arrow-prev.png');
}
.slide-prev:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
.slide-next {
    right: 20px;
    background-image: url('/images/info-panel-arrow-next.png');
}
.slide-next:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
/***************** INFO-PANEL CONTROLS END ***************/
/***************** PROFILES CONTROLS *******************/
.profiles-slider-wrapper-inner .slide-prev{
    /*left: -120px;*/
    background-image: url('/images/big-arrow-prev.png');
}
.profiles-slider-wrapper-inner .slide-prev:hover{
    opacity: 1;
}

.profiles-slider-wrapper-inner .slide-next{
    /*right: -120px;*/
    background-image: url('/images/big-arrow-next.png');
}
.profiles-slider-wrapper-inner .slide-next:hover{
    opacity: 1;
}
/***************** PROFILES CONTROLS END ***************/

.trian-controls a {
    position: absolute;
    /*top: 50%;*/
    /*margin-top: -45px;*/
    outline: 0;
    width: 50px;
    height: 90px;
    text-indent: -9999px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.profiles-slider-wrapper-inner .trian-controls a{
    position: absolute;
    top: 31.5%;
    /*margin-top: -45px;*/
    outline: 0;
    width: 65px;
    height: 65px;
    text-indent: -9999px;
    z-index: 10;
    background-color: #50b1fe;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    opacity: 0.8;
}
.t-border{
    border-top: 1px solid #d9dada;
}
.t-marg{
    margin-top: 7.188rem;
}
.t-marg-sm{
    margin-top: 2.5rem;
}
/************************* / Systems *************************/

.product-inter-images{
    position: relative;
}

.product-inter-images .show-img::after{
    right: 2.9rem;
    opacity: 0.5;
}

.img-grid-el{
    float: left;
    width: 33.33%;
    padding:0 1.875rem 0 0;
    margin:0 0 3rem 0;
    height: 17rem;
    box-sizing: border-box;
    position: relative;
}
.padding-0{
    padding: 0;
}
.img-grid-el>img{
    width: 100%;
    height: 17rem;
}
.big-img{
    width: 66.66%;
}

/************************* Designers *************************/

.designers-tc{
    height: 7.313rem;
    background: #ec471f;
    margin-top: 2rem;
    color: #ffffff;
    text-align: center;
}
.designers-tc h2{
    font-size: 1.438rem;
    padding: 1rem 0;
}
.designers-tc .tc-link{

}
.btn_arrow{
    color: #ffffff;
    font-size: 0.938rem;
    text-transform: uppercase;
    padding: 0.875rem 2.375rem 0.875rem 0.688rem;
    background: url("/images/dis-tc-arrow.png") no-repeat 91% 49% ;
    border: 2px solid #ffffff;
    border-radius: 3px;
    display: inline-block;
}
/************************* / Designers *************************/

/************************* Dillers *************************/

.content-about.content-dillers .content{
    width: 100%;
}

.dillers-form,.dillers-content{
    float: left;
}
.dillers-form{
    width: 23.2%;
    margin: 2rem 0;
}
.dillers-form h3{
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #222222;
    padding-bottom: 0.813rem;
}
.dillers-form form{
    width: 100%;
    background: #f9f9f9;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}
.dillers-form form label{
    color: #484848;
    font-size: 0.875rem;
    padding: 0.563rem 1.563rem;
}
.dillers-form form label,
.dillers-form form input,
.dillers-form form textarea{
    display: block;
}
.dillers-form input,
.dillers-form textarea{
    width: 13.438rem;
    padding: 1.438rem 1rem;
    border: 2px solid #e1e1e1;
    border-radius: 3px;
    margin-top: 0.625rem;
    box-sizing: border-box;
}
.dillers-form textarea{
    min-height: 8.313rem;
    resize: none;
}
.dillers-form input[type="submit"]{
    margin: 1.625rem auto 2.188rem auto;
    padding: 1rem 1rem;
    font-size: 0.938rem;
    color: #ffffff;
    text-transform: uppercase;
    background: #50b1fe;
    border: none;
    cursor: pointer;
}

.dillers-content{
    width: 76.8%;
    padding-left: 1.875rem;
}
.content-about.content-dillers .content .dillers-content p:first-child{
    margin-top: 0;
    line-height: 0.8;
}
.content-about .content ul{
    padding-left: 1.2rem;
}
.content-about .content ul li{
    list-style-type: disc;
    padding:0.4rem 0 0.4rem 1rem;
    line-height: 1.7;
    color: #1f1f1f;
}
/************************* / Dillers *************************/
/************************* Gallery *************************/

.gallery_wrap h1{
    font-size: 1.375rem;
    font-weight: 400;
    color: #b9b9b9;
    margin-bottom: 2rem;
    padding: 0;
}
.gallery #product-slider .mTSThumbContainer{
    width: 11.063rem;
    height: 110px;
}
.gallery #product-slider .mTSThumbContainer img{
    height: 110px;
    width: 100%;
}
.gallery #main_images_catalog{
    margin-top: 0;
}
.gallery .product-slider{
    text-align: center;
}
.gallery .show-slide{
    display: inline-block;
    height: auto;
}
.gallery .show-slide,.gallery .show-slide>img{
    width: auto;
    max-height: 85vh;
}

.gallery_wrap .btn_wrap{
    text-align: center;
}
.gallery_wrap .btn_arrow{
    background-color: #ec461f;
    border: 0;
    margin-top: 1rem;
    padding: 0.875rem 3.1rem 0.875rem 1.5rem;
}
.content-about.content-gallery .content {
    width: 100%;
}

.loader{
    width: 100%!important;
    height: 22rem!important;
}
.loader::after{
    margin: 0 auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}

/************************* / Gallery *************************/
/************************* Clients *************************/

.content_wrapper .clients_desc{
    line-height: 1.7;
    color: #1f1f1f;
    padding: 1.625rem 0;
}
.clients_wrap{
    margin-bottom: 2.5rem;
}
.clients_grid_el{
    float: left;
    width: 33.33%;
    padding: 0 1.813rem 0 0;
    margin: 0 0 1.813rem 0;
    height: 17.25rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
/*.clients_grid_el:nth-child(3n+3){*/
    /*padding: 0;*/
/*}*/
.clients_wrap img{
    width: 100%;
    height: 100%;
}
.clients_grid_el:hover .client_content_wrap{
    display: block;
}

.client_content_wrap{
    overflow: scroll;
    width: 92.5%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    height: 100%;
    display: none;
}
.client_content_wrap .client_name{
    font-size: 1.3rem;
    text-align: center;
    margin: 1.688rem 0;
    font-weight: 400;
}
.client_content_wrap .client_content{
    padding: 0 1.25rem;
    line-height: 1.7;
    font-weight: 400;
}

/************************* / Clients *************************/



.white-btn{
    font-size: 1rem;
    color: #ec461f;
    background: #fff;
    border: 2px solid #ec461f;
    text-transform: uppercase;
}

.white-btn:hover{
    transition: all 0.2s ease;
    background: #ec461f;
    color: #fff;
}

/*********************************** Sales **************************************/
.stock-item:last-child{
    padding-top: 2.813rem;
    /*border-bottom: 1px solid #dadada;*/
}

.stock-item-title{
    margin-bottom: 1.75rem;
    font-size: 1.875rem;
    color: #2e2e2e;
}



.stock-item-title a:hover{
    text-decoration: underline;
}

.stock-item-figcap{
    max-width: 30%;
    border: 1px solid #dadada;
}

.stock-item-img{
    position: relative;
}

.stock-item-img img{
    display: block;
    max-width: 100%;
}

.stock-item-percent{
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 8px 18px;
    font-size: 1rem;
    color: #fff;
    border-radius: 25% / 50%;
    background: #1ab4dc;
}

.stock-item-text{
    font-size: 1rem;
    line-height: 1.4;
    color: #2e2e2e;
}

.stock-item-img-caption{
    padding: 30px 0;
}

.stock-item-img-caption .btn span{
    vertical-align: middle;
}

.stock-fl{
    float: left;
    margin: 0 1.875rem 1.875rem 0;
}

.stock-fr{
    float: right;
    margin: 0 0 1.875rem 1.875rem;
}

.stock-item:first-child{
    padding-top: 0;
}

.stock-slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 439px;*/
}

.stock-slider-list{
    height: 100%;
}

.stock-slider-item{
    float: left;
    height: 100%;
}
.stock-slider-container{
    height: 27.5rem;
}
.stock-slider-container img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.white-btn::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 11px;
    margin-left: 20px;
    background: url('/images/red-arrow.png') no-repeat center;
    vertical-align: middle;
}

.white-btn:hover::after{
    background: url('/images/arrow-next-icon.png') no-repeat center;
}

.stock-slider .trian-controls a{
    top:40%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
/************************************* /Sales **************************************/

/************************************* Construct **************************************/

.construct_wrap{
    padding: 0 15px;
}
.construct_wrap,
.construct_images{
    height: 760px;
    position: relative;
}
.construct_wrap img{
    max-width: 100%;
}
.construct_images{
    /*width: 925px;*/
    /*margin: 0 auto;*/
    z-index: 1100;
}
.constr_elem{
    position: absolute;
    top:0;
    left: 0;
}
.b{
    font-weight: 500;
}
.constr_elem.default{
    opacity: 0.2;
}
.constr_elem.base{
    z-index: 0;
}
.constr_elem.inter{
    z-index: 10000;
}
.constr_elem.top-inter{

}
.constr_elem.top-inter img{

}
.construct_wrap canvas{
    width: 1052px;
    height: 746px;
    top: 0;
    z-index: 1000;
    opacity: 0.5;
}

.constr_controls{
    z-index: 20000;
    padding: 0.938rem 0 0 1.438rem;
}
.constr_controls_elem{
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    margin-bottom: 0.438rem;
    cursor: pointer;
    position: relative;
}
.controls_content_wrap,
.constr_controls_arrow{
    height: 3.938rem;
    background-color: #ffffff;
    float: left;
    cursor: pointer;
}
.controls_content_wrap{
    width: 12.438rem;
    padding:0.8rem 0 0 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.constr_controls_arrow{
    width: 2.813rem;
    border-left: 1px solid #e0ddde;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.controls_elem_title{
    font-size: 0.9rem;
    color: #7c7c7c;
}
.controls_elem_content_color{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    margin: 0.3rem 0 0 0.15rem;
    opacity: 0.5;
}
.floor_color{
    background-color: #f5e5d2;
}
.walls_color{
    background-color: #ebe5e6;
}
.constr_controls_arrow{
    background: #ffffff url("/images/construct-arrow.png") no-repeat center ;
}
.constr_material_title{
    color: #1e1e1e;
    font-size: 1.125rem;
    padding-top: 0.3rem;
}
.constr_count_price{
    width: 15.251rem;
    height: 3.938rem;
    background-color: #50b1fe;
    text-align: center;
    font-size: 1.125rem;
    color: #ffffff;
    border-radius: 5px;
    line-height: 3.5;
    cursor: pointer;
}
.constr_calc{
    width: 15.251rem;
    background-color: #ffffff;
    border-radius: 5px;
}
.constr_calc .controls_content_wrap{
    float: none;
    width: 100%;
    border-bottom: 1px solid #e0ddde;
    border-radius: 0;
}
.constr_calc_form{
    padding:0.8rem 0 0.8rem 1.5rem;
    color: #7c7c7c;
    font-size: 0.9rem;
    border-bottom: 1px solid #e0ddde;
}
.constr_calc_form form label{
    display: block;
}
.constr_calc_form .input_wrap {
    width: 50%;
    float: left;
}
.constr_calc_form form input{
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    width: 4.563rem;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    margin-top: 0.65rem;
}
.constr_calc .constr_count_price{
    background-color: #eb3f27;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
.colors{
    position: absolute;
    display: none;
    right: -80%;
}
.color_val{
    display: none;
}
.farbtastic::after,
.ceil_colors_wrap::after,
.textures_list::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -10px;
    top:18%;
}

.ceil_colors_wrap{
    position: absolute;
    right: -135%;
    display: none;
}
.ceil_colors{
    position: relative;
    width:11rem;
    height:10rem;
    padding: 1.375rem 1.438rem 1.375rem 0.5rem;
    background: white;
    overflow-y: auto;
    float: left;
}
.ceil_colors .color_el{
    float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    border: 1px solid #d4d8dd;
    margin-left: 0.938rem;
    margin-bottom: 0.875rem;
    cursor: pointer;
}
.color_desc{
    position: relative;
    width: 10rem;
    height: 9.5rem;
    background: white;
    margin: 0.25rem 0 0 0.25rem;
    float: left;
}
.color_desc .current_color{
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 100px;
    margin: 0.688rem auto;
}
.current_color_title{
    color: #9e9e9e;
    font-size: 0.875rem;
    text-align: center;
    padding: 0 0.5rem;
}
.textures_list{
    position: absolute;
    display: none;
    right: -45%;
    background: #ffffff;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
}
.textures_list .texture_list_el{
    margin: 0.5rem 0;
    color: #9e9e9e;
    cursor: pointer;
    text-align: center;
}
.textures_list .texture_list_el:hover{
    color: #1e1e1e;
}

.close_widget{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -4%;
    background: url("/images/widget-close.png") no-repeat center ;
    cursor: pointer;
    z-index: 2000;
}
.colors .close_widget{
    top: -2%;
    right: -1%;
}
.textures_list .close_widget{
    right: 0;
}
.ceil_colors_wrap .close_widget{
    right: 50%;
}

/************************************* /Construct **************************************/
/************************************* Articles **************************************/

.articles_page .articles-short,
.article_page .articles-short{
    width: 100%;
    float: none;
}
.articles_page .articles-short-img{
    height: 265px;
}
.article_page.articles-news{
    padding: 0;
}
.article_page .h1-title{
    margin-bottom: 0;
}
.article_content{
    line-height: 1.7;
    color: #212121;
}
.article_content p:not(:first-child){
    margin: 1rem 0;
}
.link_color{
    color: #EC461F;
}
/************************************* /Articles **************************************/
/************************************* Tc **************************************/

.tc_banner{
    /*height: 15.375rem;*/
    text-align: center;
    background:#ec471f url('/images/tc-psd-icon.png') no-repeat 25% 50%;
    padding: 4.5625rem 0;
}
.centred{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
.tc_banner h1{
    color: #ffffff;
}
.tc_download_link{
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px 30px 15px 15px;
    text-transform: uppercase;
    margin-top: 0.9rem;
}
.tc_download_link::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 12px;
    margin-right: 15px;
    background: url('/images/download-icon.png') no-repeat center;
    vertical-align: middle;
}
.content-about.tc p:first-child{
    font-weight: normal;
}
/************************************* /Tc **************************************/
/************************************* Price-list **************************************/

.price-list-wrapper h1{
    color: #50b1fe;
    padding: 1.7rem 4rem;
    line-height: 0.7;
    font-weight: 500;
    background:#444a58 url('/images/price-list-icon.png') no-repeat 2.5% 50%;
}

table.table{
    width: 100%;
    height: 100%;
    border-spacing: 2px;
}
table.table th{
    padding: 0.25rem 0;
}
table.table td{
    padding: 1rem 0 1rem 1rem;
}
.table-footer-red{
    background: #ffdfd8;
    color: #ec461f;
}
.table-titles{
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}
.table-row-color-grey th,
.table-row-color-grey td{
    background: #dadbde;
    color: #696b73;
}

.table .table-row-color-darkgrey .blue-color{
    color: #50b1fe;
}
.table .table-row-color-darkgrey th{
    background: #444a58;
    padding: 1rem 0 1rem 1rem;
    color: #ffffff;
}

.table-row-color-grey td{
    border-bottom: 3px solid #ffffff;
}
.table-titles th{
    vertical-align: middle;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 35%;
}

.w-80{
    width: 80%;
}
.red-color{
    color: #ec461f!important;
}
.table-manufacturer-title{
    background: #ffffff;
    color: #ec461f;
}
.table-marg-t{
    margin-top: 3.125rem;
}
.tab-el tbody{
    display: none;
}
.tab-el thead{
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
}
.grey-text{
    color: #696b73;
}

/************************************* /Price-list **************************************/
.no-active{
    opacity: 0.3;
    cursor: default;
}
.no-active:hover .ps-video-title{
    text-decoration: none;
}


@media screen and (max-width: 1281px){
    .main{
        width: 1150px;
    }
    .section-content{
        width: 1150px;
        padding: 0 18px;
    }

    .main .main_nav{
        padding: 1.625rem 18px;
    }

    .main .content_wrapper{
        padding: 0 18px;
    }

    .main-content{
        padding: 45px 18px 0 18px;
    }

    .profiles-slider-nav{
        padding: 0 18px;
    }
    .cerf-description{
        width: 17.8rem;
    }
    .dillers-form input, .dillers-form textarea{
        width: 12.7rem;
    }
    .call_order form label{
        padding: 0.563rem 1rem!important;
    }
}

@media screen and (max-width: 1201px){
    .main{
        width: 1075px;
    }
    .section-content{
        width: 1075px;
    }

    .main .main_nav{
        padding: 1.625rem 20px;
    }

    .main .content_wrapper{
        padding: 0 20px;
    }

    .main-content{
        padding: 45px 18px 0 20px;
    }

    .profiles-slider-nav{
        padding: 0 20px;
    }
    .cerf-description{
        width: 16.5rem;
    }

    .dillers-form input, .dillers-form textarea{
        width: 11.5rem;
        padding: 1rem 1rem;
    }
    .content-certificates .certificates-wrapper{
        padding: 1rem 5rem 0 5rem;
    }
    .header-nav-item{
        margin-right: 2.4rem;
    }
    .cta-separator{
        padding: 0 40px;
    }
    .cta-btn{
        padding: 15px 40px;
    }
    .call_order form label{
        padding: 0.563rem 0.5rem!important;
    }
}