@font-face {
    font-family: 'PFDinTextPro';
   	src: url('../fonts/PFDinTextPro-Light.ttf');
         font-weight: 300;
         font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro';
   	src: url('/fonts/PFDinTextPro-Regular.ttf');
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro';
   	src: url('/fonts/PFDinTextPro-Medium.ttf');
         font-weight: 500;
         font-style: normal;
}


/************************************************** RESET.CSS **************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 .clearfix::after{
	content: ' ';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
 }

 input, textarea{
	outline: none;
	border: 0;
}

button{
	background: none;
	cursor: pointer;
	outline: none;
}

a{
	text-decoration: none;
}

/************************************************** RESET.CSS END **********************************/
/************************************************ ОБЩИЕ СТИЛИ ************************************/

html{
	font-size: 16px;
}

html, body, .wrapper{
	height: 100%;
}

.wrapper{
	min-width: 1200px;
	font-family: PFDinTextPro, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.wrapper, .wrapper-inner, body, footer{
	position: relative;
}

.wrapper-inner{
	min-height: 100%;
	background: #fff;
	padding-bottom: 715px;
}

.section-content{
	width: 1200px;
	padding: 0 15px;
}

.box{
	padding: 30px 0 90px;
}

/******************************* SEPARATORS *******************/
.separator{
	display: block;
	width: 1px;
	height: 100%;
}

.header-separator{
	position: absolute;
	top: 0;
	left: 22.5%;
	background: #dadada;
}
/******************************* SEPARATORS END ***************/
/******************************* BUTTONS *******************/
.btn{
	display: inline-block;
	border-radius: 3px;
	text-align: center;
}

.small-btn{
	padding: 12px 15px;
	font-size: 0.875rem;
}

.red-btn{
	color: #fff;
	background: #ec461f;
}

.red-btn:active{
	background: #d85231;
}
/******************************* BUTTONS END ***************/
/************************************************ ОБЩИЕ СТИЛИ END ********************************/

/************************************************** HEADER **************************************/
.header{
	padding-top: 25px;
}

.header-content-wrapper{
	position: relative;
	height: 110px;
	border: 1px solid #dadada;
}

/******************************* HEADER-LOGO *******************/
.header-logo{
	width: 22.5%;
	float: left;
	padding: 0 35px 0 30px;
}

.header-contacts-nav{
	width: 77.5%;
	float: right;
	padding: 0 50px 0 45px;
}

.header-logo,
.header-contacts-nav{
	height: 100%;
}

.h-logo-link{
	display: block;
	position: relative;
	top: 50%;
	margin-top: -20px;
}

.h-logo-link img{
	display: block;
	max-width: 100%;
}
/******************************* HEADER-LOGO END ***************/

.header-contacts,
.header-nav{
	height: 50%;
}

.header-contacts{
	padding-top: 10px;
}

.header-contacts-cell{
	display: inline-block;
	vertical-align: middle;
}

/******************************* DROPDOWN *******************/
.dropdown{
	padding-right: 10px;
}

.dropdown-caption::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #eb3f27 url('../images/location.png') no-repeat center;
	border-radius: 50%;
	vertical-align: middle;
}

.dropdown-text{
	position: relative;
	display: inline-block;
	padding: 7px 12px;
	vertical-align: middle;
	border: 1px solid transparent;
	cursor: pointer;
}

.dropdown-text::after{
	content: '';
	display: inline-block;
	width: 7px;
	height: 6px;
	margin-left: 5px;
	background: url('../images/dropdown-arrow.png') no-repeat center;
	vertical-align: middle;
}

.dropdown-head{
	font-size: 1rem;
	color: #2d2d2d;
}

.dropdown-content{
	position: absolute;
	width: 100%;
	top: 98%;
	left: -1px;
	z-index: 20;
	visibility: hidden;
    opacity: 0;
    height: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

.dropdown-text:hover{
}

.dropdown-text:hover .dropdown-content{
	visibility: visible;
    opacity: 1;
    height: auto;
    transition: opacity .5s ease;
    border: 1px solid #dadada;
}

.city-item{
	padding: 7px 5px;
}

.city-item:hover{
	background: #e8e8e8;
}

/******************************* DROPDOWN END *****************/
/******************************* HEADER-PHONES *******************/
.header-phones{
	padding: 0 10px;
}

.header-phones::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background: #eb3f27 url('../images/white-phone-icon.png') no-repeat center;
	border-radius: 50%;
	vertical-align: middle;
}

.header-phones-list{
	display: inline-block;
	vertical-align: middle;
}

.header-phones-item{
	display: inline-block;
	margin-right: 15px;
}

.header-phones-item span{
	font-size: 1rem;
	font-weight: 400;
	color: #2d2d2d;
	text-transform: uppercase;
}
/******************************* HEADER-PHONES END ***************/
/******************************* ORDER-CALL *******************/

/******************************* ORDER-CALL END ***************/
/******************************* HEADER NAV *******************/
.header-nav-list,
.header-nav-item,
.header-nav-link{
	height: 100%;
}

.header-nav-list{
	padding-top: 20px;
	font-size: 0;
}

.header-nav-item{
	display: inline-block;
	margin-right: 50px;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
}

.header-nav-item:last-child{
	margin-right: 0;
}

.header-nav-link{
	position: relative;
	display: inline-block;
	color: #2d2d2d;
	text-transform: uppercase;
}

.header-nav-link:hover, .header-nav-active .header-nav-link{
	color: #e92f38;
}

.header-nav-link::after{
	content: '';
	display: none;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #e92f38;
}

.header-nav-link:hover::after, .header-nav-active .header-nav-link::after{
	display: block;
}
/******************************* HEADER NAV END ***************/

/************************************************** HEADER END **********************************/

/************************************************** FOOTER **************************************/
.footer{
	height: 715px;
	margin-top: -715px;
}
/******************************* FOOTER-TOP *******************/
.footer-top{
	padding: 50px 0 40px;
	background: #444a58;
}

.footer-logo{
	float: left;
}

.footer-buttons{
	float: right;
}

.footer-buttons .btn{
	font-size: 1rem;
}

.footer-obmer{
	padding: 15px 50px;
}

.footer-obmer::after,
.footer-price::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 11px;
	margin-left: 20px;
	background: url('../images/arrow-next-icon.png') no-repeat center;
	vertical-align: middle;
}

.footer-price{
	margin-left: 30px;
	padding: 15px 40px;
}
/******************************* FOOTER-TOP END ***************/
/******************************* FOOTER-INFO *******************/
.footer-info{
	margin-top: 60px;
	font-size: 0;
}

.footer-info-item{
	display: inline-block;
	width: 25%;
	font-size: 1rem;
	padding-right: 15px;
	text-align: left;
	vertical-align: top;
}

.footer-info-item-title{
	margin-bottom: 30px;
	font-size: 1.563rem;
	font-weight: 300;
	color: #fff;
}

.footer-info-item-title a, 
.footer-info-list-item a, 
.footer-location-title, 
.footer-location-text, 
.footer-contacts-text,
.footer-skype span,
.footer-fb span{
	color: #fff;
}

.footer-info-item-title a:hover{	
	text-decoration: underline;
}

.footer-info-list-item{
	margin-bottom: 15px;
	font-size: 1rem;
	font-weight: 400;
}

.footer-info-list-item a, 
.footer-location-text, 
.footer-contacts-text,
.footer-skype span,
.footer-fb span{
	opacity: 0.6;
}

.footer-info-list-item a:hover{
	opacity: 1;
}

/************** FOOTER-LOCATION *******************/
.footer-location-item{
	margin-bottom: 30px;
}

.footer-location-title{
	margin-bottom: 15px;
}

.footer-location-title::before{
	content: '';
	display: inline-block;
	width: 11px;
	height: 15px;
	margin-right: 10px;
	background: url('../images/location-white-icon.png') no-repeat center;
}

.footer-location-text, .footer-contacts-text{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
}
/************** FOOTER-LOCATION END ***************/
/*************** FOOTER-CONTACTS *******************/
.footer-contacts{
	padding-top: 85px;
}

.footer-contacts-text{
	margin-bottom: 20px;
}

.footer-contacts-fb-skype a{
	margin-bottom: 15px;
}

.footer-skype, .footer-fb{
	display: block;
}

.footer-skype::before, .footer-fb::before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.footer-skype::before{
	background: url('../images/skype-icon.png') no-repeat center;
}

.footer-fb::before{
	background: url('../images/facebook-icon.png') no-repeat center;
}
/*************** FOOTER-CONTACTS END ***************/
/******************************* FOOTER-INFO END ***************/
.footer-copyright{
	background: #fff;
}

.footer-copyright-text{
	margin-top: 45px;
	font-weight: 500;
	color: #212121;
}
/************************************************** FOOTER END **********************************/