.cover_wrapper{
    position: absolute;
    display: block;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    text-align: center;
    cursor: pointer;
}
.cover_wrapper .zoom_image{
    display: block;
    position: absolute;
    z-index: 3000;
    margin:auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100vh;
    cursor: default;
}
.cover_wrapper video{
    display: block;
    position: absolute;
    z-index: 3000;
    margin:auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100vh;
    cursor: default;
}
.cover_wrapper::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 50px;
    margin:auto;
    top:2rem;
    right: 1rem;
    background-image: url(/images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}