html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{position: relative;z-index: 0;}
div,section {overflow-x:hidden;margin: 0;padding: 0;}


.main{
	width: 100%;
	height: auto;
	position: relative;
	overflow-x: hidden;
	z-index: 0;
}
.main section.block{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.bor{border: 1px solid red}

.main>aside{
	width: 15%;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	float: left;
	background: #f2fdf0;
	color: #5E5D5D;;
	overflow-y: scroll;
}
.main>aside ul{
	margin-left: 2em;
}
.main>aside ul li {
	padding: 0.5rem 0;
}
.main>aside ul li a{
	color: #5E5D5D;
}
.main>aside ul li a:hover{
	color: #E65555;

}
.main>.content{
	width: 85%;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	padding: 1em;
	float: right;
	overflow-y: scroll;
}
.main>.content form{
	margin-bottom: 2em;
}
.main>.content img{
	max-width: 30%;
	margin: 1rem 0 0 0;
}
.main>.content .small_img img{
	max-width: 30%;
}
.path{
	color: #f55323;
}
.add{
	width: 10%;
	padding: 0.5em 1em;
	background: #E65555;
	color: #ffffff!important;
	text-align: center;
}
.content ul li a{
	display: inline-block;
}
.foot_ul{
	margin-top: 4em;
}
h1{
	font-size: 1.7rem;
	padding: 0 0 2rem 0;
	margin: 0;
	color: #f55323;
}
label{
	display: block;
	margin: 1rem 0;
	font-size: 0.9rem;
	color: #2a2a2a;
}
input{
	font-size: 0.8rem!important;
	color: #3f3f3f;
}
select{
	border: 1px solid #f55323!important;
	border-radius: 0!important;
}
select option{
}
.float{
	float: left;
	margin: 0;
}
.btn.float{
	margin-top: 0.3rem;
	margin-right: 3rem;
}
.content ul{
	display: table-row;
	max-width: 100%;
}
.content ul.files{
	max-width: 70%;
}
.content ul:nth-of-type(2n+1){background: #f2fdf0;}
.content ul:nth-of-type(2n){background: #fcfcfc;}

.content ul:not(#admin_gal) li{
	display: table-cell;
	text-align: left;
	padding: 1rem 3rem 1rem 1rem;
}
.content ul.files li{
	width: 15%;
}
.content img{

}

i.fa-times-circle{
	color: red;
}
i.fa-check-circle{
	color: green;
}

.create{
	margin: 0 0 2.5rem 0;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	border-top: 1px dashed #9e9e9e!important;
	border-right: 1px dashed #9e9e9e!important;
	border-left: 1px dashed #9e9e9e!important;
	box-sizing: border-box!important;
	padding: 0 0.7em!important;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
.invalid{
	display: none;
}

#tabs{
	margin: 0 0 2em 0;
}
#linked_products{
	height: auto!important;
}
.admin_img{
	display: block;
	width:40%;
}
#admin_gal{
	overflow: hidden;
}
#admin_gal li{
	width: auto;
	float: left;
	box-sizing: border-box;
	padding: 0 0.5em;
}
#admin_gal li img{
	display: block;
	max-width: 100%;
	height: 13em;
}
.delete_btn,.cancel_btn{
	margin: 0 1em;
}
.delete_btn{
	color: red;
}
.cancel_btn{
	color: green;
}
.update_title{
	color: #9e9e9e;
	font-size: 1.5rem;
}
.tab_del{
	float: right;
}
/*========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
